<%- include('../includes/head') %>

<%- include('../includes/title', { 
    title: { title: 'Reset Password' }, 
    breadcrumbs: [ { style: 'home', title: 'Home', url: '/' }, { title: 'Reset Password' } ]
}) %>

<section id="main" class="container-fluid" aria-label="main body of content plus related links and features">
    <div class="container-lft">
    <div class="row">
            <div class="col-12 col-md-3"></div>
            <div class="col-12 col-md-6 mb-3 d-flex justify-content-center">
                <form class="w-100" action="/reset" method="POST">
                    <% if (typeof error !== 'undefined') { %><%- include('../includes/alert', { alert: error }) %><% } %>
                    <div class="form-group">
                        <label for="email">Email <span aria-hidden="true" role="presentation">(*)</span></label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="email">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </form>
            </div>
            <div class="col-12 col-md-3"></div>
        </div>
    </div>
</section>

<%- include('../includes/foot') %>