<%- include('../includes/head') %>

<%- include('../includes/title', { 
  title: { title: 'Product' }, 
  breadcrumbs: [ { style: 'home', title: 'Home', url: '/' }, { title: 'Admin', url: '/admin/products' }, { title: 'Product' } ]
}) %>

<section id="main" class="container-fluid" aria-label="main body of content plus related links and features">
    <div class="container-lft">
        <div class="row pb-3">

            <div class="col-12 col-lg-8">

                <form class="pb-3" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data" novalidate>

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control <%= errors.find(e => e.param === 'title') ? 'is-invalid' : '' %>" id="title" name="title" aria-describedby="title" value="<%= product.title %>" required="required" aria-required="true">
                        <div class="invalid-feedback"><%= errors.find(e => e.param === 'title') ? errors.find(e => e.param === 'title').msg : '' %></div>
                    </div>

                    <div class="form-group">
                        <label>Image (limited to 100kb)</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input <%= errors.find(e => e.param === 'image') ? 'is-invalid' : '' %>" id="image" name="image" aria-describedby="image">
                            <label class="custom-file-label" for="image">Choose image</label>
                            <div class="invalid-feedback"><%= errors.find(e => e.param === 'image') ? errors.find(e => e.param === 'image').msg : '' %></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control <%= errors.find(e => e.param === 'price') ? 'is-invalid' : '' %>" id="price" name="price" step=".01" aria-describedby="price" value="<%= Number(product.price).toFixed(2) %>" required="required" aria-required="true">
                        <div class="invalid-feedback"><%= errors.find(e => e.param === 'price') ? errors.find(e => e.param === 'price').msg : '' %></div>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <small id="descriptionHelp" class="form-text text-muted form-control-help">Please provide us with as much detail as you can. This will help us sell your product more quickly.</small>
                        <textarea class="form-control <%= errors.find(e => e.param === 'description') ? 'is-invalid' : '' %>" id="description" rows="5" name="description" required="required" aria-required="true"><%= product.description %></textarea>
                        <div class="invalid-feedback"><%= errors.find(e => e.param === 'description') ? errors.find(e => e.param === 'description').msg : '' %></div>
                    </div>
                    <% if (editing) { %>
                        <input type="hidden" name="productId" value="<%= product._id %>">
                    <% } %>

                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-primary" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>

                </form>

            </div>
        </div>
    </div>
</section>

<%- include('../includes/foot') %>