
    
  



@{ViewBag.Title = "New cycle routes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps/new-cycle-routes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps">Routes & maps</a></li>
                
            
            
                <li><span class="last-breadcrumb">New cycle routes</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>New cycle routes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're expanding the cycle network to connect people and places all over London. This will make walking and cycling easier and safer in people's local communities, town centres and high streets.
        
      </div>
    
    <div class="on-this-page">
      <p>We're developing four new cycle routes&nbsp;with the London boroughs of Barking &amp; Dagenham, Camden, Hackney, Haringey, Islington, Redbridge and Tower Hamlets. We'll run&nbsp;full public consultation on&nbsp;these routes&nbsp;later in 2019.</p>

<h2>The routes</h2>

<p>In 2017 we published the <a href="/corporate/publications-and-reports/cycling">Strategic Cycling Analysis</a> which sets out proposals for 25 new cycle routes across London. In 2018 the Mayor announced that we would begin design work on six of these.</p>

<p><span style="line-height:normal"><span style="background-attachment:scroll; background-clip:border-box; background-image:none; background-origin:padding-box; background-position:0% 0%; background-repeat:repeat; background-size:auto auto">Route options shown in these maps of the first routes are not decided - they will be refined based on comments and feedback we received during the engagement period we held from February to March.</span></span></p>
      
           
      
<div>




<h3>Between Camden and Tottenham Hale</h3>

<p>At approximately 12km, this route would connect the town centres of Tottenham Hale, Seven Sisters and the Nag's Head, making it easier for people to make local journeys and use local services. The route would use both main roads and quieter back streets.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/new-cycle-route-camden-tottenham-hale-map.pdf">
    <div class="document-download-text">
        <p>Cycle route between Camden and Tottenham Hale</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.14 -->
 
</div>

</div>
 
<div>




<h3>Between Lea Bridge and Dalston&nbsp;</h3>

<p>This 3km route would fill the gap between Lea Bridge and the existing cycle route between the City and Tottenham at Dalston. From Lea Bridge the proposed route heads towards Lea Bridge Road to Lea Bridge roundabout, after which it joins quieter back streets including Downs Park Road and Sandringham Road to connect through to Dalston.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/new-cycle-route-lea-bridge-dalston-map.pdf">
    <div class="document-download-text">
        <p>Cycle route between Lea Bridge and Dalston</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.08 -->
 
</div>

</div>
 
<div>




<h3>Between Hackney and Isle of Dogs</h3>

<p>This 7.5km route would stretch from Hackney to the Isle of Dogs via Westferry, Mile End and Victoria Park. It would connect with the cycle routes between Stratford and Aldgate and Barking to Tower Hill, as well as the proposed Rotherhithe to Canary Wharf crossing. There are currently two options in Hackney we're considering.</p>

<p>We're consulting on this route. <a href="https://consultations.tfl.gov.uk/cycling/hackney-to-isle-of-dogs/">See our plans and give your views</a>.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
<div>




<h3>Between Ilford and Barking Riverside</h3>

<p>This 7km route will link Ilford to Barking Riverside via Barking town centre using mostly quieter back streets. It would include key connections to the cycle route between Barking and Tower Gateway, Ilford Elizabeth line station and Barking Riverside Development - this includes more than 10,000 new homes and a new London Overground station.</p>

<p>We're consulting on this route. <a href="https://consultations.tfl.gov.uk/cycling/barking-riverside/?cid=ilford-barking">See our plans and give your views</a>.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 <div>

<h2>How to have your say</h2>

<p>Your ideas, comments and suggestions will help us develop our designs. We ran an engagement period earlier in the year.&nbsp;In late 2019, we'll run a consultation which will explain how&nbsp;your comments have been worked into our proposals. You'll also see details of the expected impact on journey times and changes to bus services.</p>

<h2>Why we're building more cycle routes</h2>

<p>These four new routes will give people safe cycling options to reach key destinations, and make the most of their local area, while connecting to the London-wide cycle network. More routes will be developed, with the aim of creating a unified cycle network.</p>

<p>These routes will be on both TfL-managed and borough roads - we're working closely with several London boroughs to design and plan them.</p>

<p>We will also use our new cycle routes quality criteria to design these routes. These criteria use six indicators to determine the most appropriate designs for new cycle routes, depending on the roads they are using:</p>

<ul>
	<li>Total volume of motor traffic</li>
	<li>Speed of motor traffic</li>
	<li>Appropriate width for cycling</li>
	<li>Kerbside activity with a minimal impact on people cycling</li>
	<li>Interaction minimised between heavy goods vehicles (HGVs) and people cycling</li>
	<li>Collision risk minimised between people cycling and turning vehicles</li>
</ul>

<p>New cycle routes will support the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>, helping us to meet the Mayor's target of 80% of journeys being made by walking, cycling and public transport by 2041.</p>

<p>Health, economic and community benefits from cycling and walking include:</p>

<ul>
	<li>Better connections: The cycle network will link more local people with schools, workplaces, local destinations, town centres and public transport hubs</li>
	<li>Reduced congestion: Improved cycling and walking infrastructure encourages people to change how they travel and move away from vehicles. This frees up space for public transport, freight and service vehicles</li>
	<li>Increased safety: Our new routes will reduce road danger by making streets safer for cyclists and pedestrians, and cut the dominance of motor vehicles</li>
	<li>Better business: In town centres where there's more cycling and walking, research shows people want to spend more time and money on shopping and relaxing</li>
	<li>Improved health: Physical activity reduces rates of stroke and dementia, and manages the impact of depression. Research suggests that if Londoners walked or cycled for just 20 minutes each day it would prevent one in six early deaths and save the NHS &pound;1.6bn per year</li>
	<li>Less toxic air: Fewer people in cars improves the air we breathe, cutting down on respiratory illnesses and conditions</li>
	<li>Enhanced local areas: Where we're building these routes, we're looking at ways to make local spaces safer and more enjoyable</li>
	<li>Stronger communities: Safe cycling infrastructure will encourage more of London's diverse communities to cycle and walk.&nbsp;Well-designed neighbourhoods and street planting can help reduce crime</li>
</ul>

<p>The <a href="/corporate/about-tfl/the-mayors-transport-strategy#cycling">Cycling action plan</a> sets out two further ambitious targets:</p>

<ul>
	<li>We plan to almost double the number of cycle trips made every day in London (from 0.7 million in 2017 to 1.3 million in 2024)</li>
	<li>We will increase the proportion of Londoners living within 400 metres of the London-wide cycle network to 28% by 2024 (from 8.8% in 2017)</li>
</ul>

<h2>Cycle route features</h2>

<p>Elements in existing London schemes could be used on these routes.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/modal-filter-hackney.jpg" alt="Cycle route features" />
                <figcaption>
<span class="figure-title">Cycle route features</span>
<span class="figure-description">Street open to cyclists and pedestrians only</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bus-stop-bypass-blackfriars-road.jpg" alt="Cycle route features" />
                <figcaption>
<span class="figure-title">Cycle route features</span>
<span class="figure-description">Segregated cycle lane and bus stop bypass</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/filtered-street.jpg" alt="Cycle route features" />
                <figcaption>
<span class="figure-title">Cycle route features</span>
<span class="figure-description">Junction open to cyclists only</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/morninglane-13-7863-parallel-zebra-crossing-on-quietway-2.jpg" alt="Cycle route features" />
                <figcaption>
<span class="figure-title">Cycle route features</span>
<span class="figure-description">Parallel zebra crossing</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/mh-pembroke-orford-rd-view-east-03-08-09-15.jpg" alt="Cycle route features" />
                <figcaption>
<span class="figure-title">Cycle route features</span>
<span class="figure-description">High street improvements for walking and cycling</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/segregated-cycle-lane-monument.jpg" alt="Cycle route features" />
                <figcaption>
<span class="figure-title">Cycle route features</span>
<span class="figure-description">Two-way segregated cycle lane</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 

<ul class="logo-list">
	<li class="featured-item">
		
	</li>
	<li>
	    
<a href="https://www.camden.gov.uk/"><img src="/cdn/static/cms/images/logos/camden-logo.jpg" alt="Camden Council logo"></a>
<a href="https://hackney.gov.uk/"><img src="/cdn/static/cms/images/logos/hackney-logo.jpg" alt="Hackney Council logo"></a>
<a href="https://www.haringey.gov.uk/"><img src="/cdn/static/cms/images/logos/haringey-logo.jpg" alt="Haringey logo"></a>
<a href="https://www.islington.gov.uk/"><img src="/cdn/static/cms/images/logos/islington-logo.jpg" alt="islington logo"></a>
<a href="https://www.towerhamlets.gov.uk/Home.aspx"><img src="/cdn/static/cms/images/logos/tower-hamlets-logo.jpg" alt="Tower Hamlets"></a>
<a href="https://www.lbbd.gov.uk/"><img src="/cdn/static/cms/images/logos/barking-dagenham-logo-crop.jpg" alt="London Borough of Redbridge and Dagenham logo"></a>
<a href="http://befirst.london/"><img src="/cdn/static/cms/images/logos/be-first-logo-crop.jpg" alt="Be First logo"></a>
<a href="https://www.redbridge.gov.uk/"><img src="/cdn/static/cms/images/logos/lb-redbridge-logo-crop.jpg" alt="London Borough of Redbridge logo"></a>
	</li>
</ul>
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-superhighways">Cycle Superhighways</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/new-cycle-routes">New cycle routes</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/quietways">Quietways</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-mini-hollands">Mini-Hollands </a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Your ideas, comments and suggestions will help us develop our designs for four new cycle routes";}
        
            
        


 