
    
  



@{ViewBag.Title = "Application process";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/graduate-scheme/application-process";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Application process</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Application process</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You're four steps away from securing a career with us. See our application process journey to find out more.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Step 1: Online Application</h2>

<h3>Getting to know you</h3>

<p>Complete our short application form for your chosen role&nbsp;- easy!</p>

<h2>Step 2: Online tests</h2>

<h3>Testing your strengths &amp; abilities</h3>

<p>You will receive two emails to complete our two online tests; our TfL situational strengths test and a combined general ability test. These should take about an hour and must be completed within 7 days.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="QG7kpbmJDkY" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Step 3: Video Interview</h2>
<h3>Revealing your passion</h3>
<p>We want to know about you: what motivates you and why you've applied for the role.</p>
<p>You will be sent an email for a video interview and will have 7 days to complete this. You'll film yourself responding to questions. You can complete this video interview at whatever time suits you - just choose a quiet place.</p>
<p>Don't panic if this is your first video interview, we'll send you an optional practise link beforehand. Watch this video for tips on how to do it:</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="VhMAHM_HpmE" data-video-caption="Video interviews"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Step 4: Assessment Centre</h2>
<h3>Showcasing your strengths</h3>
<p>If you're successful, you will be invited to an assessment day between November and December.</p>
<p>This will be an opportunity for you to discover more about TFL and what we can offer you. You will also take part in 3 activities which are a group exercise, one-to-one interview and a presentation.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="OV2SSceNxBs" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div>

<p>We&nbsp;will contact you&nbsp;after the assessment day to let you know your outcome.</p>

<p>Successful candidates will be offered a position to start in September 2019.</p>

<p><strong>Ready to apply? View our opportunities:</strong></p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/placement-opportunities?intcmp=19014" >
        
        
        <div class="text-link">
             <h2>Placement opportunities</h2>
            <p>If you're still studying, we offer a range of great opportunities for you</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/graduate-opportunities?intcmp=18353" >
        
        
        <div class="text-link">
             <h2>Graduate opportunities</h2>
            <p>We offer opportunities for a range of disciplines</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/placement-opportunities">Placement opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A page about the graduate schemes application process";}
        
            
        


 