
    
  



@{ViewBag.Title = "Street Types for London";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/street-types";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Street Types for London</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Street Types for London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Street Types for London is a new way for us to talk about the Capital's roads. It is an important means of describing the different functions of the road network for the people who influence how it is used.
        
      </div>
    
    <div class="on-this-page">
      <h2>About Street Types</h2>
<p>In 2012, the then-Mayor of London set up the <a href="/corporate/publications-and-reports/roads-task-force">Roads Task Force</a> to consider how to tackle the challenges facing London's roads. It recommended that London's 34 traffic authorities use a new 'street family' as a practical way to understand the mixed use of our roads.</p>
<p>Five pilot studies tested different ways of categorising streets before work began using the chosen method in September 2014.</p>
<p>The process uses a series of workshops to consider the 'movement' and 'place' functions of each road separately. These are then combined and each road is classified according to nine street types and represented on a final map.</p>
<p>Instead of describing the quality of a road, the final map illustrates common agreement on its current function. The map also helps decision makers understand the amount of change needed when planning for the future and can be refined as roads evolve and new data emerges.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-types-matrix.pdf">
    <div class="document-download-text">
        <p>Download the Street Types matrix</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 372KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 
</div>

</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="AbbzSZIC4-E" data-video-caption="Street Types for London 2016"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Using Street Types</h2>
<p>The aim of Street Types is to help planners work together to ensure customers get a consistent level of service on TfL and borough roads, whether they are travelling by foot, bicycle, bus or car. </p>
<p>Street Types will be used by us as well as London's boroughs and other stakeholders to deliver  appropriate schemes in the  right locations.</p>
<p>More than 21 million trips take place on the Capital's road network each day so it's important that we work together to plan how travel may change in the future.</p>
<h2>Background</h2>
<p>The development of Street Types was a significant undertaking, involving more than 400 experts from TfL, the GLA and London's boroughs and 70 workshops. By working together we were able to classify all roads in London, not just those for which we have data.</p>
<p>It recognises the role of the street network in civic life but also highlights where areas are under intense pressure to help people move.&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Borough funding</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/sub-regional-transport-planning">Sub-regional transport planning</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/healthy-workplace-charter">Healthy Workplace Charter</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling Toolkit</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/safety">Safety</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/street-types">Street Types for London</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Information by borough</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:DaSA_GIS&#64;tfl.gov.uk">DaSA_GIS&#64;tfl.gov.uk</a></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are working with the London boroughs to classify the road network according to the new family of Street Types";}
        
            
        


 