
    
  



@{ViewBag.Title = "Is an e-bike for me?";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/start-cycling/electric-bikes/is-an-e-bike-for-me";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Is an e-bike for me?</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Is an e-bike for me?</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        How an e-bike could help to get you cycling.
        
      </div>
    
    <div class="on-this-page">
      <h2>E-bike benefits</h2>
<h3>I want to cycle but I have physical difficulties</h3>
<p> E-bikes can be used by anyone, and the power assistance means they are especially good for people who don't feel fit enough to cycle, or who have a mobility impairment, and want to stay active. If you want to ride as a family group but you have a wide range of ages and fitness levels, e-bikes help to iron out the differences.</p>
<h3>I want to cycle but live too far away</h3>
<p>E-bikes take less effort to cycle and so will enable you to travel longer distances with ease. They are great for longer journeys, for carrying heavy items and for arriving at your destination fresh and ready to go.</p>
<h3>I live in a hilly area, which I find a struggle</h3>
<p>If you struggle to cycle uphill, then an e-bike will pick up the strain and make the climb easier.</p>
<h3>I want to cycle for exercise</h3>
<p> E-bikes may offer power assistance but they still give many of the health benefits of regular cycling. The power assistance can be changed on the go &#45; you can use it as much or as little as you like. Plus, they are a great way to get back into cycling following time off due to injury, or just lack of confidence.</p>
<h3>I can't cycle because I have too much to carry</h3>
<p> E-bikes will help to lighten your load, which makes them great for going shopping, while electric cargo bikes will enable you to carry heavier items or transport small children with minimal effort too.</p>
<h3>I'm nervous about cycling in London</h3>
<p> The extra boost offered by the e-bike's motor enables you to set off more quickly at junctions and keep up with other road users. Plus, you'll have full use of London's cycle lanes, Cycle Superhighways and Quietways, as well as cycle-only access points, cycle parking and other features.</p>
<h3>I want to travel in an economical way</h3>
<p>It takes up to 6 hours to fully charge an e-bike battery, but it will only cost around 5-10p per charge. As each charge should easily be able to handle a journey into the city and home again, that's great value for money. While the initial outlay can be an investment, it could save you a considerable amount of money over time, particularly compared to driving.</p>
<h2>Types of e-bikes</h2>
<p>As technology has improved and batteries have become smaller, e-bike designs have become more stylish. There are a range of  e-bike types available, from folding cycles, mountain and road bikes, to step-through designs and cargo bikes. </p>
<p>Consider what you're going to use the bike for to help you decide which type is best for you. For example, if you travel on public transport you could buy a folding e-bike to improve your access onto trains, particularly at busy times. If you commute in the week but ride forest trails at the weekend, a hybrid (combining elements of mountain and road bikes) might suit you better.</p>
<h2>Try before you buy</h2>
<p>To help you decide which type of e-bike suits you best, and how you could benefit from using it, you can try out a bike before committing to a purchase. <a href="http://ebikes.london">Find your nearest free test ride, and see a list of retailers, on the e-bikeslondon website</a>.</p>
<h2>E-bike rider stories</h2>
<p>Watch Paul and Philip chat about why they like riding e-bikes.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="2dSeA59TO_k" data-video-caption="Paul's e-bike story"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="oA6QmImqgHM" data-video-caption="Philip's e-bike story"></li>
  
  </ul>
</div>
</div>
 <div>

<p>Read other e-bike rider stories on the <a href="https://ebikes.london/rider-stories/#RS2">e-bikeslondon website</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/start-cycling/electric-bikes/what-is-an-e-bike">What is an e-bike?</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/start-cycling/electric-bikes/is-an-e-bike-for-me">Is an e-bike for me?</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on how an e-bike could help to get you cycling";}
        
            
        


 