
    
  



@{ViewBag.Title = "How to apply";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/apprenticeships/application-process";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "https://careers.tfl.gov.uk/");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships">Apprenticeships</a></li>
                
            
            
                <li><span class="last-breadcrumb">How to apply</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>How to apply</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You're three steps away from your future.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Step 1 - Getting to know you</h2>
<p>Send your application and take our online tests.</p>
<p>
<strong>We only accept one application per role, per year, so it's vital that you think carefully about all the options you're eligible for before submitting your application.</strong></p>
<p>Once you've sent us an application with all your basic details, you'll be asked to complete two tests:</p>
<ol>
    <li>Our TfL's Strengths test</li>
    <li>An ability test - either a combined numerical, inductive and deductive reasoning test OR a mechanical test for some engineering schemes</li>
</ol>
<p>This is our first proper introduction to you and your skills. We'll ask you some quick questions to find out if you've got the strengths and abilities we need.</p>
<p>To prepare for this, think about the things you enjoy doing, the things you do well, and how they'll be beneficial to the role you're applying for.</p>
<p>And you can get to know more about us by looking at our website.  Altogether, the online tests should take around 60 minutes and you can do them separately in two sittings.
</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="yQTjhW9ubWY" data-video-caption="Explore situational testing"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Step 2 -
Revealing your passion</h2>
<p>Complete a short video interview.</p>
<p>Don't panic if this is your first video interview - watch our video for plenty of tips to help you succeed.</p>
<p>This stage asks what motivates you and why you've applied for the role. Again, you can prepare by thinking about what your passions are and the skills you think you can bring to the role.</p>
<p>You'll film yourself responding to certain questions and prompts, then share the video with us. You can do the video interview at whatever time suits you - just choose a quiet place. Once you've shared your video with us, we'll take a look. Then we'll let you know whether we'd like to see you at the final stage assessment centre.</p>
<p>You can try it out first using this <a href="https://interview.easyrecrue.com/c/join/twv7d1818k6ed9">video interview practice link</a>. Note that you can only use this practice link on a desktop computer. You can complete the actual video interview on any device including mobiles and tablets.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="VhMAHM_HpmE" data-video-caption="Video interview know-how"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Step 3 - Show us your strengths</h2>
<p>Meet our team at an assessment day.</p>
<p>
If you are successful, we'll invite you to an assessment day. This is an opportunity for you to bring your strengths, motivations and passions to life. You'll also have the opportunity to discover more about us and our programmes too. You'll take part in various activities, such as a group exercise, interview or presentation.</p>
<p>If we make an offer to you for apprenticeship, we will be in touch to discuss your next steps. You can also request feedback on your performance.</p>
<p>If you are unsuccessful after your assessment centre or final interview, one of our candidate care team will be happy to give you a call and talk you through your personal feedback. Hopefully this will help you understand why you didn't progress, and where you can improve.</p>
<p>There is a dedicated area on our application form if you need to let us know about any adjustments to the recruitment process that you may require. Anyone who completes this section will be contacted by our recruitment team. Any conversations we have with you about any adjustments you may need will be treated with confidentiality.
If you require an adjustment to the recruitment process and wish to discuss your application with us, please contact once your application has been made.</p>
<p>For more hints and tips on interviews and the assessment centre, watch these videos:</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="OV2SSceNxBs" data-video-caption="How to ace your assessment centre"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="QG7kpbmJDkY" data-video-caption="Interview tips"></li>
  
  </ul>
</div>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/application-process">How to apply</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/choosing-your-apprenticeship">Choosing your apprenticeship</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/apprenticeship-schemes">Apprenticeship schemes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/degree-apprenticeships">Degree apprenticeships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/what-s-it-really-li">Meet our current apprentices</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how to apply for a TfL apprenticeship";}
        
            
        


 