
    
  



@{ViewBag.Title = "LU Supplier Forum";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/lu-supplier-forum";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground">London Underground</a></li>
                
            
            
                <li><span class="last-breadcrumb">LU Supplier Forum</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>LU Supplier Forum</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London Underground engages regularly with its suppliers on health, safety and environmental matters through a range of Supplier HS&E forums. Through these forums learning and good practice is shared across LU and its suppliers, to help improve performance.   
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>


        <h2>Together, We're Safer Supplier Forum 2014</h2>
         
        <p>On 23 June 2014, London Underground and London Rail hosted its first Together, We're Safer Supplier Forum. The forum brought together almost 200 representatives from our supply chain and senior leaders from across the network to share good practice, experiences and build on collaboration to make the railway a safer place to work.</p>
        <p>As part of the Supplier Forum, in conjunction with its suppliers, London Underground and London Rail produced a series of short films to highlight:</p>
        <ul>
            <li>Behaviour&nbsp;&nbsp;&nbsp; </li>
            <li>Lessons learned</li>
            <li>Sharing best practice</li>
        </ul>
         
         
         
         
         
         
         
    
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=Cm0w28F43RE&index=14&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh" data-video-caption="Together we're safer opening film"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=kYCBcHaa5N8&index=14&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh" data-video-caption="LO Capacity improvement"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=IyozfQjGVRQ&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh&index=13" data-video-caption="Safety leadership"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=-46XiTJzBOE&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh&index=12" data-video-caption="Go Look See"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=-nIAs9W9HN4&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh&index=11" data-video-caption="SUP District line"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=n_s0xOGpbhY&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh&index=10" data-video-caption="Dedicated communications"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=k4brsQVZX6k&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh&index=8" data-video-caption="Fatigue monitors"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=vjbgiap9Q6M&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh&index=7" data-video-caption="Concrete Breakout"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=3O3incocbSU&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh&index=6" data-video-caption="Electronic exclusion zone"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=G61YgxtE6cw&index=5&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh" data-video-caption="What Good Looks Like"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=p6LZx_qBCH4&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh&index=3" data-video-caption="Green man crossing"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="v=MAgumZcO86I&index=4&list=PLCHoGMYbaUhreuP_GA4f0ALcBvayALOGh" data-video-caption="Stretch and Flex"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="" data-video-caption="Together we're safer closing film"></li>
  
  </ul>
</div>
</div>
 
<div>



<h2>Together We're Safer presentation</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/01-together-we-are-safer-presentation-june-2014.pdf">
    <div class="document-download-text">
        <p>Opening presentation slides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.72 -->
 
</div>

</div>
 
<div>



<h2>Round table discussions</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/together-we-are-safer-pillar-1-behaviour.pdf">
    <div class="document-download-text">
        <p>Pillar 1 - Behaviour</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 89KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/together-we-are-safer-pillar-2-lessons-learnt.pdf">
    <div class="document-download-text">
        <p>Pillar 2 - Lessons Learnt</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 858KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/together-we-are-safer-pillar-3-sharing-best-practice.pdf">
    <div class="document-download-text">
        <p>Pillar 3 - Best Practice</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 598KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground">London Underground</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/alerts">LU Alerts</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/bulletins">LU Bulletins</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/campaigns">Campaigns</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/strategy-and-performance">Strategy & performance </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/learning-and-good-practice">Learning & good practice</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/toolbox-talks">Toolbox talks</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/health">Health</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/lu-supplier-forum">LU Supplier Forum</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/crossrail">Crossrail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/traffic-management">Traffic management</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "London Underground engages regularly with its suppliers on health, safety and environmental matters through a range of Supplier HS&E forums. Through these forums learning and good practice is shared across LU and its suppliers, to help improve performance";}
        
            
        


 