<%- include('../includes/head') %>

<%- include('../includes/title', { 
  title: { title: 'Orders' }, 
  breadcrumbs: [ { style: 'home', title: 'Home', url: '/' }, { title: 'Shop', url: '/shop/' }, { title: 'Orders' } ]
}) %>

<section id="main" class="container-fluid" aria-label="main body of content plus related links and features">
  <div class="container-lft">
    <div class="row mx-0">

            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h5>Order - # <%= order._id %> - <a href="/shop/orders/<%= order._id %>">Invoice</a></h5>
                            <ul class="orders__products">
                                <% order.products.forEach(p => { %>
                                    <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </div>
    </div>
</section>

<%- include('../includes/foot') %>