
    
  



@{ViewBag.Title = "OVO Energy Tour of Britain 2018";}
@{ViewBag.Keywords = "TfL,Tour of Britain, cycling, ToB";}
@{ViewBag.Url = "/status-updates/major-works-and-events/tour-of-britain-2018";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "/status-updates/major-works-and-events");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">OVO Energy Tour of Britain 2018</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>OVO Energy Tour of Britain 2018</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        On Sunday 9 September the OVO Energy Tour of Britain, featuring some of the world's top cyclists, will finish in the heart of London. For spectators it is the UK's biggest free sporting event.
        
      </div>
    
    <div class="on-this-page">
      <p>The eight-day race starts in Wales on Sunday 2 September and you can find a map of the final stage in central London on the <a href="http://www.tourofbritain.co.uk/london/">Tour of Britain website</a>. The London stage, presented by Transport for London, will start and finish on Lower Regent Street and includes Regent Street, Piccadilly Circus, Trafalgar Square, Strand and Whitehall.</p>
<p>Roads and public transport in central London are expected to be busy and there will be significant road closures and bus service changes on and around the route. Waterloo Bridge and Strand underpass (northbound) will also be closed to over-height vehicles (over 3.6m/11'9'') from 08:00-20:00.</p>
<p>The HSBC Let's Ride Westminster event will take place on the event route between 11.30 and 13.00. Registered participants will get to ride their bikes on the 5.5km route, ahead of the final stage of the OVO Energy Tour of Britain. </p>
<p>Central London bus routes will be diverted or will terminate earlier than usual. You are advised to plan ahead to avoid delays to your journey. Tube and rail will be the best way to get around London on race day.</p>
<h2>Traffic impact map</h2>
<p> </p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="0HciaExeHQ0" data-video-caption="OVO Energy Tour of Britain 2018"></li>
  
  </ul>
</div>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        
    </div>   
 </div>
 <div>

<h2>Roads</h2>
<p>Check our <a href="https://tfl.gov.uk/traffic/status/?Input=Covent%20Garden%20Underground%20Station&amp;lineIds=&amp;dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2018-09-09T00%3A00%3A00&amp;endDate=2018-09-09T23%3A59%3A59&amp;disruptionIds=TIMS-198165">status updates</a> to see how roads in the area are affected.</p>
<p>Regent Street St James's (Lower Regent Street) and some nearby streets will close to traffic at 03:00 on Sunday 9 September so that the start/finish area can be assembled. These roads are expected to re-open by 23:00 that night.</p>
<p>In addition, the following roads along the route will be closed from 08:00 to 20:00:</p>
<ul>
    <li>Regent Street between Oxford Circus and Piccadilly Circus</li>
    <li>Piccadilly from Hyde Park Corner (including Piccadilly Underpass eastbound)</li>
    <li>Shaftesbury Avenue westbound</li>
    <li>Haymarket</li>
    <li>Pall Mall</li>
    <li>Cockspur Street</li>
    <li>The Mall</li>
    <li>Trafalgar Square</li>
    <li>Whitehall and approaches</li>
    <li>Whitehall Place</li>
    <li>Northumberland Avenue</li>
    <li>Strand</li>
</ul>
<h3>Other key points</h3>
<ul>
    <li>Waterloo Bridge and Strand underpass (northbound) to Kingsway is open all day except for over-height vehicles (over 3.6m/11'10'').  From 08:00-20:00 over-height vehicles can continue east along Stamford Street to Blackfriars Bridge</li>
    <li>Access for emergency vehicles will be maintained at all times and pedestrian access to properties will not be affected</li>
    <li>Vehicles will not be able to cross the route while the road closures are in place, though local access will be maintained for as long as possible.</li>
    <li>Drivers are reminded to expect large numbers of spectators in the area</li>
    <li>Some roads near and around the route will be affected by local parking restrictions &#45; check local signs to see when and where</li>
    <li>Lane restrictions will be in place at the south side York Road/Waterloo Bridge to manage traffic flow</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/tour-of-britain-impact-map2.jpg" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/tour-of-britain-impact-map-small4.jpg" alt="Traffic impact map" />
        
        </a>
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tour-of-britain-impact-map2.pdf">
    <div class="document-download-text">
        <p>OVO Energy Tour of Britain 2018 traffic impact map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.03 -->
 
</div>

</div>
 <div>

<p>To see detailed London road closures <a href="https://tfl.gov.uk/traffic/status/?intcmp=40555">check before you travel</a> and follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLTrafficNews</a> on Twitter.</p>
<h2>Cycling</h2>
<h3>Santander Cycle Hire</h3>
<p>All docking stations will remain available, however traffic congestion in the area may make it difficult for redistribution vehicles to collect and/or replace bicycles close to the event route.</p>
<p>Check availability online using the <a href="https://tfl.gov.uk/modes/cycling/santander-cycles/find-a-docking-station">live docking station map</a> or the Santander Cycles app and follow <a href="https://twitter.com/SantanderCycles">&#64;SantanderCycles</a> on Twitter for the latest updates.</p>
<h3>Santander Cycles app</h3>
<p>The Santander Cycles app for Android and iOS is free to download for both members and casual users. In addition to viewing all docking stations and bike availability, the app sends a release code straight to your phone, letting you skip past the terminal. Download the Santander Cycles app from the <a href="https://itunes.apple.com/gb/app/santander-cycles/id974792287?mt=8">App Store</a> or <a href="https://play.google.com/store/apps/details?id=uk.gov.tfl.cyclehire&amp;hl=en_GB">Google Play</a>.</p>
<h2>Walking</h2>
<p>Paths and pavements along the routes will remain open so that people can enjoy the event and get to houses, shops and flats. There will be crowd and safety barriers along certain sections of the routes.</p>
<p>Designated, marshalled crossing points will be available in these areas to help people cross the route safely. Please take extra care if crossing any part of the route on foot.</p>
<p>Often walking is the quickest option during big events in London. See our <a href="http://tfl.gov.uk/walking">walking pages</a>.</p>
<h2>Tube and rail</h2>
<p>Tube and rail will be the best way to get around on Sunday 9 September but the following stations in central London are expected to be busier than usual:</p>
<ul>
    <li>Piccadilly Circus, Oxford Circus, Westminster, Charing Cross, Embankment, St James's Park and Leicester Square.</li>
</ul>
<p>Some National Rail services may be affected by engineering works; you are advised to check the <a href="http://www.nationalrail.co.uk/">National Rail website</a> for more details.</p>
<h3>Tube engineering works:</h3>
<h4>Northern line</h4>
<p>Bank branch trains will not stop at Kennington station until mid-September. There will also be a slightly reduced service on the Bank branch and some parts of the Northern and Victoria lines will be particularly busy. See our <a href="http://tfl.gov.uk/kennington-improvements">Kennington improvements</a> page for more information.</p>
<h4>Central line</h4>
<p>A planned closure on 8/9 September will affect Bethnal Green to Loughton and Woodford to Wanstead (via Newbury Park).</p>
<h2>Buses</h2>
<p>Buses in and around the route area will be on diversion or will terminate earlier than usual to avoid the road closures. Some stops will also be temporarily relocated or suspended. Buses will be affected between 03:00 and 23:00 on Sunday 9 September.</p>
<p>Affected routes include:</p>
<ul>
    <li>3, 6, 9, 11, 12, 15, 15H, 19, 23, 24, 25, 29, 38, 53, 55, 87, 88, 91, 94, 139, 159, 176, 453, C2, RV1, N3, N18, N97,  N109, N113, N136, N550, N551</li>
</ul>
<p>Use our <a href="https://tfl.gov.uk/plan-a-journey/">Plan a Journey</a> tool on the day and for live bus information follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> on Twitter.</p>
<h2>Taxi and private hire</h2>
<p>While services will be operating normally journey times could be affected with some taxi ranks suspended as a result.</p>
<p><a href="http://tfl.gov.uk/modes/taxis-and-minicabs/">Read more about taxi and private hire services</a>.</p>
<p>Booking information, including phone numbers and email addresses, about minicab and other private hire operators in London is available from TfL's <a href="http://tfl.gov.uk/forms/12389.aspx">Cabwise</a> service.</p>
<p>Taxi drivers and private hire drivers and operators can follow <a href="https://twitter.com/TfLTPH">&#64;TfLTPH</a> on Twitter for the latest updates.</p>
<h2>Coaches and tour buses</h2>
<p>Due to the road closures, a number of coaches will be on diversions and/or using alternative stops.</p>
<p>Please plan ahead, contact your coach operator for details of changes and allow plenty of time to travel.</p>
<h2>Freight and deliveries</h2>
<p>If you make or receive deliveries in central London on Sundays, you may be affected by congestion and increased journey times because of the road closures on Sunday 9 September.</p>
<p>If you operate in areas near the event, you should talk to your customers and suppliers to consider if there are changes you need to make to your deliveries or collections.</p>
<p>You may also wish to consider:</p>
<ul>
    <li>changing the day of your deliveries to before or after the road closures</li>
    <li>changing the times of your deliveries to avoid road closures</li>
    <li>using alternative routes that avoid the area affected</li>
</ul>
<p><a href="/info-for/deliveries-in-london/delivering-efficiently">Find out how other businesses have changed the way they make or receive deliveries in London</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/status-updates/major-works-and-events" class="heading">
                    <h2 id="sub-menu-heading">Major works & events<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/august-bank-holiday-and-notting-hill-carnival">August Bank Holiday & Notting Hill Carnival</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/baker-street-roadworks">Baker Street roadworks</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycle-superhighway-11">Cycle Superhighway 11</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2018">Easter travel 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2019">Easter travel 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane">Improvements between Acton and Wood Lane</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/may-bank-holidays-2019">Spring Bank Holiday 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street roundabout</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Road changes at Victoria Embankment</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/tour-of-britain-2018">Tour of Britain 2018</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/west-end-project">West End Project</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-4">Cycleway 4</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice for London final stage of ToB";}
        
            
        


 