<%- include('../includes/head') %>

<%- include('../includes/title', { 
  title: { title: 'Pattern Library - Twitter Timeline' }, 
  breadcrumbs: [ { style: 'home', title: 'Home', url: '/' }, { title: 'Pattern Library - Twitter Timeline' }]
}) %>

<div class="container-fluid">
  <div class="container-lft">
    <div class="row">
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Emily Ashwood', link: { url: 'https://twitter.com/EmilyAshwood?include_rts=false' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Emily Bridson', link: { url: 'https://twitter.com/ebridders' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Zoe Brookes', link: { url: 'https://twitter.com/zoebrookes01' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Charlotte Broughton', link: { url: 'https://twitter.com/char_broughton' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Imogen Chastell', link: { url: 'https://twitter.com/imogen_chastell' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Maddie Gammons', link: { url: 'https://twitter.com/MaddieGammons' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Hannah Graveney', link: { url: 'https://twitter.com/H_Graveney' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Connie Hayes', link: { url: 'https://twitter.com/connie_hayes123' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Tweets by EmiratesAirLDN', link: { url: 'https://twitter.com/EmiratesAirLDN' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Emily Ashwood', link: { url: 'https://twitter.com/EmilyAshwood' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Connie Hayes', link: { url: 'https://twitter.com/connie_hayes123' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Tweets by EmiratesAirLDN', link: { url: 'https://twitter.com/EmiratesAirLDN' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Emily Ashwood', link: { url: 'https://twitter.com/EmilyAshwood' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Connie Hayes', link: { url: 'https://twitter.com/connie_hayes123' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Tweets by EmiratesAirLDN', link: { url: 'https://twitter.com/EmiratesAirLDN' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Emily Ashwood', link: { url: 'https://twitter.com/EmilyAshwood' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Connie Hayes', link: { url: 'https://twitter.com/connie_hayes123' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Tweets by EmiratesAirLDN', link: { url: 'https://twitter.com/EmiratesAirLDN' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Emily Ashwood', link: { url: 'https://twitter.com/EmilyAshwood' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Connie Hayes', link: { url: 'https://twitter.com/connie_hayes123' } } }) %>
      </div>
      <div class="col-12 col-sm-4">
        <%- include('../includes/twitter', { card: { title: 'Tweets by EmiratesAirLDN', link: { url: 'https://twitter.com/EmiratesAirLDN' } } }) %>
      </div>
    </div>
  </div>
</div>



<%- include('../includes/foot') %>