<%- include('../includes/head') %>

<%- include('../includes/title', { 
  title: { title: 'Pattern Library - Images' }, 
  breadcrumbs: [ { style: 'home', title: 'Home', url: '/' }, { title: 'Pattern Library - Images' }]
}) %>

<div class="container-fluid">
  <div class="container-lft">
    <div class="row">
      <div class="col-12">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/visiting-london-banner.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/visiting-london-banner.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
      <div class="col-12 col-sm-3">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/visiting-london-banner.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/visiting-london-banner.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
      <div class="col-12 col-sm-6">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/visiting-london-banner.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-12 col-sm-8">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/visiting-london-banner.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-12">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/cyclist-commute-2_rdax_400x200.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/cyclist-commute-2_rdax_400x200.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
      <div class="col-12 col-sm-3">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/cyclist-commute-2_rdax_400x200.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/cyclist-commute-2_rdax_400x200.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
      <div class="col-12 col-sm-6">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/cyclist-commute-2_rdax_400x200.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-12 col-sm-8">
        <%- include('../includes/image', { o: { image: { url: 'https://tfl.gov.uk/cdn/static/cms/images/promos/cyclist-commute-2_rdax_400x200.jpg', alt: 'Four stages of the Smart Sourcing programme: positioning, pathways, preparation, perpetuate' } } }) %>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>



<%- include('../includes/foot') %>