<%- include('../includes/head') %>

<%- include('../includes/title', { 
  title: { title: 'Pattern Library - Input Checkboxes'}, 
  breadcrumbs: [ { style: 'home', title: 'Home', url: '/' }, { title: 'Pattern Library - Input Checkboxes' }]
}) %>

<div class="container-fluid">
  <div class="container-lft">
    <div class="row">
      <div class="col-12">
        <form method="POST" action="/pattern-library/form-submission" class="pb-3 mx-3" role="form">
          <%- include('../includes/input-checkboxes', { field: { 
            name: 'waste', 
            question: 'Which types of waste do you transport?',
            hint: 'Select all that apply.',
            error: 'One or more options must be selected',
            items: [
              { name: 'waste-1', title: 'Waste from animal carcasses', value: 'animal' },
              { name: 'waste-2', title: 'Waste from mines or quarries', value: 'mines' },
              { name: 'waste-3', title: 'Farm or agricultural waste', value: 'agricultural' }
            ]}}) 
          %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="btn btn-primary btn-lg" type="submit">Submit form</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../includes/foot') %>