<%- include('../includes/head') %>

<%- include('../includes/title', { 
  title: { title: 'Pattern Library - Input Error Summary'}, 
  breadcrumbs: [ { style: 'home', title: 'Home', url: '/' }, { title: 'Pattern Library - Input Error Summary' }]
}) %>

<div class="container-fluid">
  <div class="container-lft">
    <div class="row">
      <div class="col-12">
        <form method="POST" action="/pattern-library/form-submission" class="pb-3 mx-3" role="form">
          <%- include('../includes/input-errorsummary', { 
            title: 'There is a problem',
            errors: [
              { ref: 'passport-issued-error', msg: 'The date your passport was issued must be in the past' },
              { ref: 'postcode-error', msg: 'Enter a postcode, like AA1 1AA' }
            ]
          }) 
          %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="btn btn-primary btn-lg" type="submit">Submit form</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../includes/foot') %>