
    
  



@{ViewBag.Title = "Connected London";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/creating-a-connected-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
            
                <li><span class="last-breadcrumb">Connected London</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Connected London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We need to improve digital connectivity to drive the next wave of innovation and growth in London. By using our unique position and assets to create ambitious telecoms services, we can ensure that London remains the place where the world wants to work, live, study and visit.
        
      </div>
    
    <div class="on-this-page">
      
      
           
        <div class="pull-quote">
    
        <div class="quote-body">"We need to ensure every Londoner is able to access a fast and reliable digital connection."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
    </div>
   <h2>Connected London</h2>
<p>We want to partner with the telecoms industry to create this vision of a Connected London, and to generate revenue to reinvest in the transport network.</p>
<p>We will create:</p>
<h3>A public cellular network</h3>
<p>We will add mobile coverage in Tube stations and tunnels so commuters can enjoy seamless connectivity. With our industry partner, we will own and operate a new commercial 4G network underground and offer commercial services to other operators.</p>
<p>We have significant assets and the operational and engineering expertise to support the building of the new network.</p>
<h3>A new fibre backbone for London</h3>
<p>Fibre optic internet is becoming a standard, rather than a luxury. The capital's future digital connectivity will be built on fibre.</p>
<p>Our roll-out of underground mobile services will see hundreds of kilometres of fibre laid in tunnels, creating a new fibre backbone for London. We also own the surface assets to support 'last mile' connectivity.</p>
<h3>Enhanced 4G networks and the coming of 5G</h3>
<p>The next generation of mobile networks - expected to be rolled out in the coming decade - will help address data consumption demand from the mobile market. To bring super-fast connections to mobile devices, many more cell sites will be needed, especially in high footfall areas.</p>
<p>We have many assets on streets, such as lighting columns, that the partnership can use to provide unparalleled 5G and improved 4G coverage.</p>

 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/connected-london.pdf">
    <div class="document-download-text">
        <p>Connected London brochure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.74 -->
 
</div>

</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="rmDSsNIjFng" data-video-caption="Connecting London"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Tendering exercise for Connected London</h2>
<p>In summer 2018, we asked interested parties to return a Standard Selection Questionnaire (SSQ). These have now  been evaluated and shortlisted suppliers with suitable financial and technical capability will be invited to tender by the end of this year.</p>
<p>Check back here for updates on this process.</p>
<h2>Waterloo &amp; City line trial</h2>
<p>Other cities have mobile connectivity on their metro systems, but no project in London had moved beyond the early stage - until now.</p>
<p>In summer 2017, we worked with mobile network operators on a trial of mobile coverage during non-passenger hours in the stations and deep-level tunnels of the Waterloo &amp; City line. The trial showed that there was no interference with the existing railway signalling or radio systems.</p>
<p>At the end of the trial, we started a data call in the ticket hall of Waterloo Tube station. The call was uninterrupted as we walked to the platforms, boarded a train, and arrived at the ticket hall at Bank Tube station.</p>
<p>In the future, customers will be able to catch up on last night's TV, stream music or read their emails or the latest news uninterrupted. During the trial we also tested the installation of the additional fibre capacity that will form our new fibre network.</p>
<p>See our <a href="https://tfl.gov.uk/info-for/media/press-releases/2017/november/4g-mobile-coverage-on-tube-on-track-to-begin-from-2019">press release about the trial</a>.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/waterloo-and-city-line-connectivity-trial-summer-2017.pdf">
    <div class="document-download-text">
        <p>Waterloo & City line connectivity trial - summary report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.07 -->
 
</div>

</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/connecting-london.jpg" alt="workman with cable" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Current WiFi services</h2>
<p>We have installed WiFi across more than 260 Tube stations and 79 London Overground stations. WiFi is available in the ticket halls, passenger corridors and platforms of these Tube stations and in the ticket halls and passages of the Overground stations.</p>
<p>We will extend WiFi to the new Elizabeth Line stations at Farringdon, Tottenham Court Road, Woolwich, Canary Wharf, Paddington, Whitechapel, Custom House, Bond Street, Liverpool Street and Abbey Wood in time for the opening of each station.</p>
<p>Public WiFi will still be available to customers as part of Connected London.</p>
<p>See more about our current WiFi service on the <a href="/campaign/station-wifi">Station WiFi page</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're making plans with telecoms partners that will help London become one of the best-connected cities in the world";}
        
            
        


 