
    
  



@{ViewBag.Title = "A century of type";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/a-century-of-type";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">A century of type</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>A century of type</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We've collaborated with some of the country's best graphic and design agencies to celebrate 100 years of the iconic Johnston typeface. 
        
      </div>
    
    
      <h2>Johnston 100 updated</h2>

<p>After 100 years of helping Londoners navigate their city, the iconic Johnston typeface has been digitally updated, complete with hashtag (#) and at &#64; symbols.</p>

<p>Find out more about how design agency Monotype brought the Johnston typeface into the 21st century.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="BKd-SZl5hl0" data-video-caption="Johnston 100 updated typeface"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Posters</h2>
<p>Johnston 100 posters
to celebrate the 100th anniversary of the iconic Johnston typeface, we also collaborated with eleven of the UK's most exciting graphic and design agencies to create a poster to mark this milestone in British design history.</p>
</div>
 
<div class="module-grid clearfix">
<div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/johnston-100-beautiful-meme_rdax_400x200.jpg" alt="Johnston Beautiful Meme teaser" />
        <div class="text-only">
            
            
            
            <p>Beautiful Meme</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="http://www.ltmuseumshop.co.uk/posters/johnston-100-designs/product/we-travel-but-remain-in-love-by-the-beautiful-meme.html" class="secondary-button" >Buy now</a>
            
            </div>
    </div>
</div>

 <div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/johnston-100-build-teaser_rdax_400x200.jpg" alt="Johnston Build teaser" />
        <div class="text-only">
            
            
            
            <p>Build</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="https://www.ltmuseumshop.co.uk/posters/johnston-100-designs/product/the-jewel-in-londons-crown-by-build.html" class="secondary-button" >Buy now</a>
            
            </div>
    </div>
</div>

 <div>

<div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/johnston-100-alan-kitching-_rdax_400x200.jpg" alt="Johnston Kitching teaser" />
        <div class="text-only">
            
            
            
            <p>Alan Kitching</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="https://www.ltmuseumshop.co.uk/posters/johnston-100-designs/product/alan-kitching-johnston-100-designs.html" class="secondary-button" >Buy now</a>
            
            </div>
    </div>
</div>

 
</div>
 <div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/johnston-100-magpie-teaser_rdax_400x200.jpg" alt="Johnston Magpie teaser" />
        <div class="text-only">
            
            
            
            <p>Magpie</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="https://www.ltmuseumshop.co.uk/posters/johnston-100-designs/product/celebrating-100-years-of-clear-direction-by-magpie-studio.html" class="secondary-button" >Buy now</a>
            
            </div>
    </div>
</div>

 <div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/johnston-100-pentagram-teas_rdax_400x200.jpg" alt="Johnston Pentagram teaser" />
        <div class="text-only">
            
            
            
            <p>Pentagram</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="https://www.ltmuseumshop.co.uk/posters/johnston-100-designs/product/johnston-typeface-by-pentagram.html" class="secondary-button" >Buy now</a>
            
            </div>
    </div>
</div>

 <div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/johnston-100-studio-paralle_rdax_400x200.jpg" alt="Johnston Parallelagram teaser" />
        <div class="text-only">
            
            
            
            <p>Studio Parallel</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="https://www.ltmuseumshop.co.uk/posters/johnston-100-designs/product/century-by-studio-parallel.html" class="secondary-button" >Buy now</a>
            
            </div>
    </div>
</div>

 <div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/johnston-100-sawdust-teaser_rdax_400x200.jpg" alt="Johnston Sawdust teaser" />
        <div class="text-only">
            
            
            
            <p>Sawdust</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="https://www.ltmuseumshop.co.uk/posters/johnston-100-designs/product/the-age-of-a-genius-character-by-sawdust.html" class="secondary-button" >Buy now</a>
            
            </div>
    </div>
</div>

 <div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/johnston-100-sea-design-tea_rdax_400x200.jpg" alt="Johnston Sea Design teaser" />
        <div class="text-only">
            
            
            
            <p>Sea Design</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="https://www.ltmuseumshop.co.uk/posters/johnston-100-designs/product/10-x10-by-sea.html" class="secondary-button" >Buy now</a>
            
            </div>
    </div>
</div>

 <div>

<div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/johnston-100-studio-frith-t_rdax_400x200.jpg" alt="Johnston Studio Frith" />
        <div class="text-only">
            
            
            
            <p>Studio Frith</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="https://www.ltmuseumshop.co.uk/posters/johnston-100-designs/product/do-not-follow-this-sign-by-studio-frith.html" class="secondary-button" >Buy now</a>
            
            </div>
    </div>
</div>

 
</div>
 <div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/johnston-100-thomas-matthew_rdax_400x200.jpg" alt="Johnston Thomas Matthews teaser" />
        <div class="text-only">
            
            
            
            <p>Thomas Matthews</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="https://www.ltmuseumshop.co.uk/posters/johnston-100-designs/product/the-fabric-of-london-by-thomas-matthews.html" class="secondary-button" >Buy now</a>
            
            </div>
    </div>
</div>

 <div class="content-information-box">

    <div>
        <img src="/cdn/static/cms/images/promos/johnstone-100-monotype3_rdax_400x200.jpg" alt="Johnstone 1 Monotype 3" />
        
            
            
            
        


            <div class="call-to-action-button">
            
            <a href="http://shop.monotype.com/products/johnston100-poster-by-monotype" class="secondary-button" >Buy now</a>
            
            </div>
    </div>
</div>

 
</div>
 <div>

<h3>The Johnston typeface history</h3>
<p>In 1916, under the direction of Frank Pick, calligrapher Edward Johnston became synonymous with the unification of The Underground Group by creating a font to feature across the entire network of railways. Until that point, they had all used different signage and different typography.</p>
<p>Removing the serifs, Johnston created a readable, simple and reassuring font for the travelling public. One hundred years later and London commuters are still using Edward Johnston's work to find their way around the city's transport system. </p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/johnston-100-printing-block.jpg" alt="The Johnston printing block" />
                <figcaption>
<span class="figure-title">The Johnston printing block</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/johnston-100-johnston-alpha.jpg" alt="The Johnston alphabet" />
                <figcaption>
<span class="figure-title">The Johnston alphabet</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/johnston-100-hand-drawn-exa.jpg" alt="Edward Johnston's hand drawn originals" />
                <figcaption>
<span class="figure-title">Edward Johnston's hand drawn originals</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/johnston-100-edward-johnsto.jpg" alt="Edward Johnson" />
                <figcaption>
<span class="figure-title">Edward Johnson</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We've collaborated with some of the country's best graphic and design agencies to celebrate 100 years of the iconic Johnston typeface. ";}
        
            
        


 