
    
  



@{ViewBag.Title = "Please offer me a seat";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/please-offer-me-a-seat";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Please offer me a seat</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Please offer me a seat</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you struggle to stand while using public transport, there is a free badge and card available to help you alert fellow customers that you need a seat. Learn more and apply for your welcome pack.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p><strong><a href="/transport-accessibility/please-offer-me-a-seat">Apply for your free badge and card now</a></strong>.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="csj_58vIGk0" data-video-caption="Priority seating video"></li>
  
  </ul>
</div>
</div>
 <div>

<p>Many of our customers with impairments, conditions or illnesses, short term or long term, tell us they struggle to get a seat on public transport when they need one.</p>

<p>The badge and card can be used on all our services: London Underground, London Overground, TfL Rail, Buses, DLR, Trams and River Services.</p>

<p>You don't need to explain your reasons for the badge and card with either our staff or fellow customers. Please remember the badge and card doesn't guarantee you a seat.</p>

<p>If you are a charity or organisation and would like to make a bulk order, contact <a href="mailto:TfLAccessibility&#64;tfl.gov.uk?subject=Please%20offer%20me%20a%20seat">TfLAccessibility&#64;tfl.gov.uk</a>.</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/please-offer-me-a-card_rdax_400x250.jpg" alt="Please offer me a seat card" />
        
        
        
    </div>
    <p><strong>Do I need to prove my need for the badge and card?</strong><br />
No. We will not ask customers for their medical history or supporting evidence from a doctor - it will be entirely self-selecting.</p>
<p><strong>What should I do if I lose my badge and card?</strong><br />
You can use the <a href="/transport-accessibility/please-offer-me-a-seat">online form</a> or get in touch with our Contact Centre to apply for a new one. You do not need to officially inform us.</p>
<p><strong>What happens if nobody gives up a seat?</strong><br />
We can't insist customers give up their seat for you but if you are struggling to get the attention of your fellow passengers, politely approach someone and make it clear you require a seat. You do not need to explain your reason but don't forget the person in the seat may also require it. Not everyone who requires a seat will have a badge.  We encourage all customers to be considerate and use their common sense.</p>
<p><strong>Will staff help me get a seat?</strong><br />
Staff are not expected to intervene in helping you get a seat. However if you face any discrimination, hate crime or abuse, call a member of staff or report the incident to the British Transport Police on 0800 40 50 40 or text 61016. Always dial 999 in an emergency.</p>
<p><strong>What do I do if I see someone with a badge?</strong><br />
If you see someone with a badge or card and you are seated, please stand and offer them your seat. While there are priority seats on public transport, we would like to encourage all customers in any seat, to be considerate and offer their seat to those that are less able to stand.</p>
<p><strong>I am less able to stand myself but I don't have a badge. Am I expected to move for badge holders?</strong><br />
Not at all. We recognise that many customers who need a seat won't have a badge or a card, including pregnant women, parents with babies, older people, injured people and disabled people, including those with hidden impairments and conditions.</p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div>

<div class="call-to-action-button">
       <a href="/transport-accessibility/please-offer-me-a-seat" class="secondary-button no-hover"  title="Apply for your free badge and card ">Apply for your badge and card</a>

    </div>
</div> 
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/transport-accessibility/index"  class="plain-button">Transport accessibility</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL is offering a badge and card to help customers who are less able to stand get a seat when they need one";}
        
            
        


 