
    
  


<!-- rhroot -->
@{ViewBag.Title = "The Women We See competition";}
@{ViewBag.Keywords = "TfL,Women we see competition";}
@{ViewBag.Url = "/campaign/women-we-see-competition";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">The Women We See competition</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>The Women We See competition</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London is one of the most diverse cities in the world, but when it comes to representing this diversity the advertising industry hasn't always got it right. We think it's time to change that, so, we are running a new advertising competition with the Mayor of London to improve gender diversity in advertising.
        
      </div>
    
    <div class="on-this-page">
      <p>The Women We See: diversity in advertising competition is aimed at creative agencies and brands. The winner will see their campaign appear across the TfL network from January 2019.  We will unveil it with a PR moment in January to make sure everyone in London knows about this great work.</p>
<p>The Women We See is part of the Mayor of London's commitment to tackling gender inequality and his #BehindEveryGreatCity campaign.</p>
<p>In 2018, the women we see in advertising are still not representative of the diversity we see around us.</p>
<p>Existing studies show that a wide representation of men feature more in adverts &#45; men are portrayed as sportier, they wear more clothing in adverts and are less likely to be found in the kitchen. Women, by contrast, are still largely portrayed in outdated and often negative stereotypes, with a distinct lack of diversity.</p>
<h2>The brief</h2>
<p>London is a diverse city. The competition challenges brands and creative agencies to represent women in all their diversity.</p>
<p>We want to see a creative concept that represents older women, BAME women, women with disabilities &#45; be they visible or not &#45; single parents, women from diverse socioeconomic backgrounds and women from the LGBT community. And this means challenging time-worn stereotypes.</p>
<p>The creative for the campaign must also respond to the key themes of <a href="http://www.london.gov.uk/The-Women-We-See">The Women We See research</a>.<strong> </strong></p>
<h2>How to enter</h2>
<p>Entry is open to media, advertising and creative agencies; as well as brand marketing teams.</p>
<p>The winning creative will be made up of two elements which seamlessly complement each other
</p>
<ul>
    <li>A 10 second full motion clip for use on the rail digital advertising estate</li>
    <li>A static digital D6 style display for use on our bus shelter estate</li>
</ul>
<p>Your submission must include:</p>
<ul>
    <li>An outline of a static image</li>
    <li>A storyboard for a 10 second full motion clip</li>
    <li>Contact details for your organisation</li>
    <li>Contact details of the representative from the brand used in the advertisement</li>
    <li>A brief explanation (no more than 500 words) to outline how you have come to your proposal and how it aligns with the competition criteria.</li>
</ul>
<p>You are accountable for agreement and final sign off from the brand.</p>
<p>Send your entry by email to: <a href="mailto:Adcompetition&#64;tfl.gov.uk">Adcompetition&#64;tfl.gov.uk</a>.</p>
<p>The competition closes at 17:00 on 22 October 2018.</p>
<p>Judging takes place in late October and the winner will be announced in early 2019.</p>
<p>Read the full <a href="/corporate/terms-and-conditions/competitions">terms and conditions</a>. </p>
<h2>What the judges are looking for</h2>
<p>The judges are looking for a campaign that acts as a catalyst to change perception.</p>
<p>They are looking for a creative concept with real impact, which can drive change in how the industry considers gender diversity across its creative work.</p>
<p>Specifically, all entries must answer the following questions:</p>
<ul>
    <li>Creative concept: How well does the campaign engage the audience, how well does it challenge the norm? </li>
    <li>Brand alignment: How well does the campaign support the brand values of the organisation, how will this campaign produce positive results for the brand? </li>
    <li>Research alignment: How well does the campaign align with the findings of the 'Women we see' research? </li>
    <li>Amplification: How can the campaign message live beyond the outdoor space provided in the competition and fully capitalise on this opportunity with an integrated approach? </li>
    <li>Does the campaign comply with <a href="/info-for/business-and-commercial/commercial-media">TfL's advertising policy</a>? We will exclude campaigns that don't adhere to the policy </li>
</ul>
<h2>The prize</h2>
<p>The winning campaign will receive &pound;500,000 of digital advertising value.</p>
<p>It will be displayed across the TfL Rail and Bus Shelter networks during the first quarter of 2019. The campaign will be displayed on the following assets:</p>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/diversity-in-advertising-d6.jpg" alt="London Underground digital D6 screens" />
                <figcaption>
<span class="figure-title">London Underground digital D6 screens</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/diversity-in-advertising-canary-wharf.jpg" alt="Canary Wharf iconic screens" />
                <figcaption>
<span class="figure-title">Canary Wharf iconic screens</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/diversity-in-advertising-excalator-panels.jpg" alt="Digital escalator panels" />
                <figcaption>
<span class="figure-title">Digital escalator panels</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/diversity-in-advertising-bus-shelter.jpg" alt="Digital bus shelters" />
                <figcaption>
<span class="figure-title">Digital bus shelters</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>The judges</h2>
<p><a href="/campaign/women-we-see-competition-judges">A panel of industry experts</a> will judge the entries.<br /></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/women-we-see-competition" class="heading">
                    <h2 id="sub-menu-heading">The Women We See competition<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/campaign/women-we-see-competition-judges">The Women We See competition judges</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Competition to create a campaign to challenge the way women are represented in advertising. Aimed at creative agencies";}
        
            
        


 