
    
  



@{ViewBag.Title = "Staff network groups";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/staff-network-groups-and-outbound";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/corporate-and-social-responsibility">Corporate social responsibility</a></li>
                
            
                 <li><a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion">Equality & inclusion</a></li>
                
            
            
                <li><span class="last-breadcrumb">Staff network groups</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Staff network groups</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have six internal staff network groups to represent the diversity of our workforce.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="3zLYFPv7MlY" data-video-caption="Celebrating 10 years of SNGs at TfL"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="4iMHVnHhd_I" data-video-caption="See our rainbow taxi being wrapped"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>BAME</h2>

<p>The Black, Asian and Minority Ethnic (BAME) Staff Network Group champions diversity and actively supports the ambitions of staff with a BAME background.</p>

<p>The BAME Staff Network Group's ultimate aim is to diversify the business and increase the number of BAME leaders. They help our organisation and staff celebrate a diverse range of cultures, heritage and backgrounds, running events to celebrate Black History Month, including a collaborative event with their opposite numbers in the Houses of Parliament (ParliREACH) and participation in the Notting Hill Carnival, facilitating engagement with local communities.</p>

<h2>Carers</h2>

<p>Our Carers Staff Network Group supports our staff who are also carers, finding a number of ways to make a difference and raise awareness of caring needs. Their members provide advice and guidance through support groups and also host events to raise awareness of carers, working closely with Carers UK.</p>

<p>They played a key role in the launch of our carers guidelines, aimed at supporting carers and helping their managers to work with them to enable them to balance their caring and work responsibilities.</p>

<h2>Disability</h2>

<p>The Staff Network Group for Disability breaks down barriers and gives disabled people a voice through support groups, awareness events and forums which raise the profile of disabilities.</p>

<p>Over the years the group has directly supported hundreds of disabled staff, their managers and departments. They've successfully improved working conditions for disabled staff, for example making it easier to access Reasonable Adjustments.</p>

<p>The Group knows the power of understanding - because of that they also help colleagues to understand how they can offer support to disabled people and customers. Among other things they have created an internal peer-to-peer support group for people who have experience of mental health conditions or wish to help others who do, and have launched a visually impaired user group, which brings together visually impaired staff, so they can network, raise common issues and solve them.</p>

<h2>Faith &amp; Wellbeing</h2>

<p>The Faith and Wellbeing Staff Network Group promotes and supports faith and wellbeing for our staff.</p>

<p>We have a diverse workforce, made up of different faith groups and values and everyone is unique, which is why the group finds ways to improve working life for different faith communities within our organisation. They know that work can seem stressful and demanding at times and they support general wellbeing through training and events.</p>

<p>They make sure that everyone's values and beliefs are upheld and supported, and make changes within our organisation, including lobbying for the implementation of prayer or quiet rooms in as many buildings and depots as possible; working with our caterers to ensure that different dietary requirements are met and helping to produce an annual faith and cultural calendar.</p>

<h2>OUTbound - LGBT+ network</h2>

<p>Our goal is to ensure LGBT+ staff are fairly represented throughout TfL by the policies we help shape and the improvements we initiate. We lead on providing our LGBT+ staff with the best possible opportunities to connect, support and develop themselves in our workplace.</p>

<p>In 2015 we launched our award winning #RidewithPride campaign, which saw a rainbow bus, taxi and DLR train on our transport network. The campaign has gone on to inspire other cities to include rainbow vehicles on their networks. In 2014 we installed London's first ever rainbow crossing for Pride in London.</p>

<p>OUTbound works with other charities and community interest groups in the LGBT+ community, and takes part in Pride in London's parade every year.</p>

<p>You can email us at <a href="mailto:outbound&#64;tfl.gov.uk">outbound&#64;tfl.gov.uk</a>.</p>

<h2>Women</h2>

<p>The Women's Staff Network Group (WSNG) is a professional networking group that facilitates the development of strong, flexible and productive connections between our employees.</p>

<p>The WSNG is run by a committee of volunteers from across our organisation. They are supported by a number of active members and representatives from our Equality &amp; Inclusion team.</p>

<p>The vision of the WSNG is to influence, inform and promote the issues of interest to women in our organisation. They run accessible networking events, learning and development sessions and a mentoring scheme all designed to support the personal and professional development of their members.</p>

<p>They also act as a focal point for other organisations to make contact with and consequently allows the strengthening of external relationships. For example, they have partnered with Tommy's, the pregnancy charity, to develop a bespoke scheme that supports pregnant employees, their partners and managers with accredited health and wellbeing advice, delivered by trained midwives.</p>

<p>We are an equal opportunities employer. <a href="/corporate/careers/index">Find out more about working for us.</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/corporate-and-social-responsibility" class="heading">
                    <h2 id="sub-menu-heading">Corporate social responsibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">Charities</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion">Equality & inclusion</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/staff-network-groups-and-outbound">Staff network groups</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Transport & health</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/safety/report-a-crime-or-incident" class="plain-button">Report a hate crime or incident</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Six internal staff network groups represent the diversity of our workforce";}
        
            
        


 