
    
  



@{ViewBag.Title = "Tube escalators & lifts";}
@{ViewBag.Keywords = "Tube passengers,T,Accessible travel,Safety and security,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/tube-improvements">Improving the Tube</a></li>
                
            
                 <li><a href="/campaign/tube-improvements/behind-the-scenes">Behind the scenes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Tube escalators & lifts</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Tube escalators & lifts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Like our other assets such as trains and track, we have a continual programme of maintenance and renewal for our lifts and escalators.
        
      </div>
    
    <div class="on-this-page">
      <p>Keeping escalators and lifts in top condition helps ensure the safety and accessibility of our network. </p>
<p>Our escalators are heavy-duty machines that carry millions of people each year. They must be refurbished every 20 years and replaced every 40 years.</p>
<p>Our lifts get a routine maintenance check every two weeks, a full MOT every six months and a partial refurbishment every five years. Lifts must be fully replaced every 10 to 20 years, depending on the type. </p>
<p>New escalators are modular, not bespoke, which makes them easier to refurbish and replace. We're using new traction lifts which offer reduced journey times and are more energy efficient.</p>
<p>Over its 40-year lifespan, an escalator will travel the equivalent distance of a trip to the moon and back. Keeping escalators in top condition helps ensure your safety and your ability to access our network. &nbsp;</p>
<p>Due to the nature of the work, replacement and refurbishment can take a number of months to complete. </p>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/victoria-ticket-hall-escalators.jpg" alt="Victoria station" />
                <figcaption>
<span class="figure-title">Victoria station</span>
<span class="figure-description">North ticket hall escalators at Victoria</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/pal-10-escalator-barrell.gif" alt="Victoria station" />
                <figcaption>
<span class="figure-title">Victoria station</span>
<span class="figure-description">The electrical works behind a new escalator barrel</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/new-escalator-replaced-at-embankment-station.jpg" alt="Embankment station" />
                <figcaption>
<span class="figure-title">Embankment station</span>
<span class="figure-description">We replaced four escalators at the station</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/embankment-escalator-main-drive.jpg" alt="Embankment station" />
                <figcaption>
<span class="figure-title">Embankment station</span>
<span class="figure-description">Escalator main drive machines</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/embankment-station-new-deck.jpg" alt="Embankment station" />
                <figcaption>
<span class="figure-title">Embankment station</span>
<span class="figure-description">View from lower landing of the escalator with new decking panels</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/embankment-station-esc-2.jpg" alt="Embankment station" />
                <figcaption>
<span class="figure-title">Embankment station</span>
<span class="figure-description">Incline with the old escalator completely removed</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/embankment-station-esc-4.jpg" alt="Embankment station" />
                <figcaption>
<span class="figure-title">Embankment station</span>
<span class="figure-description">Upper machine chamber, the old machines have been removed as they are life expired</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/embankment-station-esc-10.jpg" alt="Embankment station" />
                <figcaption>
<span class="figure-title">Embankment station</span>
<span class="figure-description">Installation of temporary trackway ready for delivery of new escalator truss sections</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Tube lifts and escalators across London</h2>
<p>We are refurbishing and replacing lifts and escalators across the network to improve safety and your journeys. Watch our video to find out how we do this. <a href="https://www.youtube.com/playlist?list=PLtnlusA0Zoghb_KCckEROFhFDNLj2F0VS">Browse through our videos on YouTube to find out more</a>. <a href="https://twitter.com/search?f=realtime&amp;q=%23TubeImprovements&amp;src=typd">#TubeImprovements</a></p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="lGkuiQL8o6A" data-video-caption="Escalators across the Tube"></li>
  
  </ul>
</div>
</div>
   <div class="pull-quote">
    
        <div class="quote-body">"It can take up to 24 weeks to carry out an overhaul, particularly when spare parts have to be manufactured from scratch and installed deep underground in confined spaces. Physical and geological considerations mean that every escalator on the Underground network is custom-built for its location. Many components are made bespoke by the manufacturers, which mean a stockpile of spare parts can't be built up."</div>
        <div class="quote-footer">
            <div class="quotee-name">David Waboso</div>
            <div class="quotee-job-title">LU Capital Programmes Director</div>
        </div>
    </div>
   

 
 <div>

<h2>Why escalator and lift work takes time</h2>
<p>Did you know that the escalators in shopping centres, supermarkets and department stores are different from the escalators you use on the Tube network?</p>
<p>They are generally used by customers  during opening hours only.</p>
<p>Because of this, they are built to cope with lower passenger loadings  compared to a public transport escalator.</p>
<p>Escalators and lifts on the Tube network are used by far more customers - 1.265 billion a year.</p>
<p>They tend to be in operation in both directions for a period of up to 20 hours a day, 7 days a week, 364 days a year.</p>
<ul>
    <li>The machinery required to operate these escalators and lifts is therefore classed as heavy engineering machinery. It allows for reliable regular use by customers</li>
    <li>Escalator and lift replacement and refurbishment can be a lengthy process. This is due to the size and
    difficulty of the task:</li>
    <li>
    Escalators are heavy-duty machines, custom built for each station
    </li>
    <li>Parts have to be manufactured from scratch and installed deep underground in confined spaces
    </li>
    <li>The escalator parts can only be delivered in the short Engineering hours slot, because of their size. If they were to be delivered during operating hours, they would end up being in the way of customers and compromising off-loading restrictions on the size of these deliveries via road in London
    </li>
    <li>Old escalators have often supported other structures which need to be  carefully managed during replacement and refurbishment works</li>
    <li>A typical  heavy-duty escalator weighs 40 tonnes and has a vertical rise
    of 15 metres. If laid flat, it would be over 37 metres long
    </li>
    <li>Typically, there are six to seven (maximum 20) people working on an escalator on each shift, two shifts per day, six or seven days per week
    </li>
    <li>For a typical 15-metre rise escalator, there are approximately 15,000 moving parts
    </li>
    <li>In some stations, the escalators were installed before the Second World War and actually form part of the station structure. This was the case at Embankment, where considerable structural modernisation was required to create enough space to fit a new escalator. New, custom-built machines ensure a reliable escalator service for many decades to come
    </li>
    <li>All Tube escalators have full communication, fire detection and suppression systems which are required to be tested and declared operational before they can be used by the public
    </li>
    <li>Lift replacement work often takes place deep underground, in cramped lift shafts
    </li>
</ul>
<p>Due to the nature of the work it can take a number of months to complete. We're always looking at ways to reduce disruption to customers while we undertake lift and escalator refurbishment and replacement. For example, we will sometimes replace more than one lift at a time to reduce the overall time they are unavailable. </p>
<h2>Tube facts</h2>
<ul>
    <li>Our lifts and escalators run 20 hours, and sometimes 24 hours, a day in support of work at stations in traffic hours</li>
    <li>There are 440 passenger escalators and 184 passenger lifts across the Tube network
    </li>
    <li>Our busiest lifts at stations such as Covent Garden will carry up to 80,000 people a day through the station</li>
    <li>Over its 40-year lifespan, an escalator will travel the equivalent distance of a trip to the moon and back</li>
    <li>Our lifts can hold up to 50 people and travel up to four metres per second</li>
    <li>Our escalators travel up to 0.75 metres per second, faster than the 0.5 metres per second in escalators used in shops and department stores</li>
    <li>Landing lengths on our escalators are longer than those in department stores to allow for the high speed at which our escalators operate</li>
    <li>
    Waterloo has the most escalators of any station with 23</li>
    <li>The longest escalator - 60 metres - is at Angel. The shortest is at Stratford - just 4.1 metres</li>
    <li>
    The deepest lift shaft is at Hampstead - 55.2 metres. The shortest is at King's Cross St. Pancras - 2.3 metres.</li>
</ul>
</div>
 <div>

<p>See exclusive behind the scenes updates on all our Tube improvements on Twitter <a href="https://twitter.com/search?f=realtime&amp;q=%23TubeImprovements&amp;src=typd">#TubeImprovements</a> and our <a href="http://www.facebook.com/transportforlondon">TfL</a> and <a href="http://www.facebook.com/londonunderground">Tube</a> Facebook pages.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/tube-improvements" class="heading">
                    <h2 id="sub-menu-heading">Improving the Tube<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-ve-done">What we've done</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes">Behind the scenes</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/station-types-and-trivia">Station types and trivia</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/track-renewal">Track renewal</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/signalling">Signalling</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment">Tube escalators & lifts</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/tube-improvements" class="plain-button">Tube improvements</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "As part of our continued Tube improvements escalator replacements are taking place across the network";}
        
            
        


 