
    
  



@{ViewBag.Title = "Signalling";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/tube-improvements/behind-the-scenes/signalling";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/tube-improvements">Improving the Tube</a></li>
                
            
                 <li><a href="/campaign/tube-improvements/behind-the-scenes">Behind the scenes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Signalling</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Signalling</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're increasing capacity, improving reliability and making journeys faster by installing new signalling on our lines.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/at-highgate-control-centre-all-northern-line-signalling-is-controlled.jpg" alt="Northern line signalling" />
                <figcaption>
<span class="figure-title">Northern line signalling</span>
<span class="figure-description">At Highgate Control Centre all Northern line signalling is controlled</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/new-control-centre-at-highgate.jpg" alt="Northern line signalling" />
                <figcaption>
<span class="figure-title">Northern line signalling</span>
<span class="figure-description">New control centre at Highgate</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/skills-training-centre-stratford.jpg" alt="Skills training centre at Stratford" />
                <figcaption>
<span class="figure-title">Skills training centre at Stratford</span>
<span class="figure-description">Signalling training inside the interlocking machine room</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/training-signalling-system.jpg" alt="Training on signalling systems equipment, track and power" />
                <figcaption>
<span class="figure-title">Training on signalling systems equipment, track and power</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/victoria-line-control-room.jpg" alt="The Victoria line control room" />
                <figcaption>
<span class="figure-title">The Victoria line control room</span>
<span class="figure-description">A control room shows an overview of all trains running on the line and the signalling</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/tube-line-controller.jpg" alt="A line controller monitors the train services" />
                <figcaption>
<span class="figure-title">A line controller monitors the train services</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/signalling-morden.jpg" alt="Signalling trains out of Morden" />
                <figcaption>
<span class="figure-title">Signalling trains out of Morden</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div class="key-improvements">

        <span class="key-improvements-title transport-mode tube">
            Tube facts
        </span>
        <div class="key-improvements-content">

        <ul>
            <li>The average speed of a Tube train, including station stops, is 20.5 miles per hour</li>
            <li>The average train travels 114,500 miles in a year</li>
            <li>The Underground currently serves 270 stations</li>
        </ul>
    
</div>
    </div>
 <div>

<h2>What is signalling?</h2>

<p>Signalling is needed to keep trains a safe distance apart. Railway lines are divided into sections called blocks and only one train is allowed into one block at a time, protected by a signal at its entrance.</p>

<p>Low voltage current is supplied to the running rails which, when short-circuited by the passage of a train's wheels, operate relays that control signals.</p>

<p>The average length of each block on the Underground is about 300 metres. To prevent a train from entering an occupied block, each signal has a mechanical 'trainstop' next to the track. This device will apply the brakes of any train which tries to run past a stop signal.</p>

<h2>What does a signal failure mean?</h2>

<p>Signals fail for many reasons. In some cases, the signalling system itself is working normally, but the equipment has detected a problem with the track. Because signals are designed to 'fail safe' whenever a fault occurs, signals turn to red and trains stop running.</p>

<p>As the Tube's signalling system uses small electrical currents in the track to detect the movement of passing trains, signal failures sometimes happen when there is a short circuit between the running rails. These short-circuits may occur after heavy rainfall, when puddles of water build up on the track - particularly on our open-air sections of line.</p>

<p>Also, with our high frequency of service, the accumulation of iron filings (from the daily wear and tear of trains) across insulated joints between sections of track may also cause problems. There have even been cases of rodents chewing through cables, turning signals to red.</p>

<h2>How we're improving our signalling</h2>

<p>In order to reduce signal failures we are replacing old track, improving drainage, cleaning block joints at regular intervals and improving the insulation between track sections using a new type of rail joint.</p>

<p>We are also upgrading signalling systems across the network. When London underground opened in 1863, the signalling was controlled at each station by signal boxes. These signal boxes directly controlled the signals and points in the area. New signalling systems computerise and centralise these boxes into control centres.</p>

<p>On the Jubilee line, new signalling has allowed us to run more frequent trains - now 30 every hour - carrying 12,500 extra passengers an hour on a service that's 50% more reliable.</p>

<p>The Northern line signalling system has now been modernised, delivering up to 20% more capacity or space for an additional 11,000 customers per hour.</p>

<p>And we have plans to push frequencies on the Jubilee, Victoria and Northern lines even further.</p>

<p>A new signalling system on the sub-surface network - the Circle, District, Hammersmith &amp; City and Metropolitan lines, which together make up 40% of the Tube network - will increase capacity by a third.</p>
</div>
 <div>

<h2>From the Underground Up - Signalling</h2>
<p>Find out what Tube signals actually are and how we are upgrading them to provide you a better service. Find out why this sometimes takes longer to complete. <a href="https://www.youtube.com/playlist?list=PLtnlusA0Zoghb_KCckEROFhFDNLj2F0VS">Browse through our videos on YouTube to find out more</a>. <a href="https://twitter.com/search?f=realtime&amp;q=%23TubeImprovements&amp;src=typd">#TubeImprovements</a></p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="ooi1dISwU_k" data-video-caption="Lifts and Escalators"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>More capacity on the Northern line </h2>
<p><a href="https://youtu.be/_3gWzKWyHQ0 ">Watch our video on YouTube</a> to find out how the signalling modernisation on the Northern line benefits you.  </p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/tube-improvements" class="heading">
                    <h2 id="sub-menu-heading">Improving the Tube<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-ve-done">What we've done</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes">Behind the scenes</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/station-types-and-trivia">Station types and trivia</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/track-renewal">Track renewal</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/signalling">Signalling</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment">Tube escalators & lifts</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "What is signalling, and what is a signal failure?";}
        
            
        


 