
    
  



@{ViewBag.Title = "Station types and trivia";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/tube-improvements/behind-the-scenes/station-types-and-trivia";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/tube-improvements">Improving the Tube</a></li>
                
            
                 <li><a href="/campaign/tube-improvements/behind-the-scenes">Behind the scenes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Station types and trivia</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Station types and trivia</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Explore the different kinds of stations you use, and find out a few facts along the way.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2><a name="station-categories"></a>Station categories</h2>
<p>We categorise our stations in the four ways below.</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/stationtypes-gateway_rdax_400x250.gif" alt="Sketch of a Gateway station type" />
        
        
        
    </div>
    <h3>Gateway</h3>
<p>These stations are the main visitor entry points to London, with high volumes of customers and a high proportion of people unfamiliar with the Tube network. At these stations, new Visitor Information Centres will be in place. An example of a Gateway station would be King's Cross St. Pancras or Heathrow 1,2,3.</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/stationtypes-destination_rdax_400x250.gif" alt="Sketch of a destination station type" />
        
        
        
    </div>
    <h3>Destination</h3>
<p>These busy stations in Central London have high volumes of customers and include commuter rail termini and tourist destinations. An example of a destination station would be Embankment.
</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/stationtypes-metro_rdax_400x250.gif" alt="Sketch of a metro station type" />
        
        
        
    </div>
    <h3>Metro</h3>
<p>These stations serve predominantly inner London communities with many regular users. An example of a metro station would be Clapham South.
</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/stationtypes-local_rdax_400x250.gif" alt="Sketch of a local station type" />
        
        
        
    </div>
    <h3>Local</h3>
<p>These smaller stations, in outer London or beyond, have lower customer numbers and serve mainly regular customers, familiar with the Tube network. An example of a local station would be Rickmansworth.
</p>
 </div>
 <div>

<h2>Tube trivia</h2>
<ul>
    <li>Tottenham Court Road station upgrade will have 80,000 ceramic tiles installed in its station - enough to tile eight Olympic pools</li>
    <li>Tottenham Court Road station upgrade will have 327,000 metres of cabling installed - four times the length of the Central line</li>
    <li>Tottenham Court Road station has 8,000 panels of glass cladding installed, weighing 180 tonnes - the same as a blue whale</li>
    <li>Victoria station has received 23,000 cubic metres of reinforced concrete - enough to fill nine Olympic pools or 3,800 concrete mixers</li>
    <li>Victoria station is getting 300 metres of new tunnels - the same distance a Torchbearer carried the Olympic Flame during the 2012 Olympics</li>
    <li>At Victoria station, we have installed over 2,000 interlocking jet grout columns</li>
    <li>Also at Victoria, we are using over 100 suppliers to increase the size of the station by 133%</li>
    <li>Along with the waste from the Crossrail sites, Bond Street station upgrade waste goes to Wallasea Island where it is being used by the RSPB to create a nature reserve</li>
    <li>Some of the excavation work at Bond Street had to be done by hand. A tunnel has been dug by hand between the Central line platforms to create a passage to one of the new lifts</li>
</ul>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/tottenham-court-road-ticket-hall.jpg" alt="Tottenham Court Road station" />
                <figcaption>
<span class="figure-title">Tottenham Court Road station</span>
<span class="figure-description">We're building a new ticket hall</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/tottenham-court-road-station-oxford-st-entrance.jpg" alt="Tottenham Court Road station" />
                <figcaption>
<span class="figure-title">Tottenham Court Road station</span>
<span class="figure-description">Building a new entrance and ticket hall on Oxford Street by 2016</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/victoria-step-free-access.jpg" alt="Victoria station" />
                <figcaption>
<span class="figure-title">Victoria station</span>
<span class="figure-description">Construction of step-free access</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/victoria-station-upgrade-new-ticket-halls.jpg" alt="Victoria station" />
                <figcaption>
<span class="figure-title">Victoria station</span>
<span class="figure-description">Building a new underground North ticket hall with an entrance at street level by 2016</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bond-street-station-upgrade-new-tunnels.jpg" alt="Bond Street station" />
                <figcaption>
<span class="figure-title">Bond Street station</span>
<span class="figure-description">Creating new tunnels for interchanges with Crossrail services within the station</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/central-line-interchange-tunnel.jpg" alt="Central line at Bond Street station" />
                <figcaption>
<span class="figure-title">Central line at Bond Street station</span>
<span class="figure-description">Interchange tunnel in preparation for tiling</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/embankment-station-repainting.jpg" alt="Embankment station" />
                <figcaption>
<span class="figure-title">Embankment station</span>
<span class="figure-description">Giving platforms a facelift by repainting the walls on platforms</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/embankment-station-laying-floors.jpg" alt="Embankment station" />
                <figcaption>
<span class="figure-title">Embankment station</span>
<span class="figure-description">Laying new accessible platform flooring</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<p>See exclusive behind the scenes updates on all our Tube improvements on Twitter <a href="https://twitter.com/search?f=realtime&amp;q=%23TubeImprovements&amp;src=typd">#TubeImprovements</a> and our <a href="http://www.facebook.com/transportforlondon">TfL</a> and <a href="http://www.facebook.com/londonunderground">Tube</a> Facebook pages.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/tube-improvements" class="heading">
                    <h2 id="sub-menu-heading">Improving the Tube<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-ve-done">What we've done</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes">Behind the scenes</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/station-types-and-trivia">Station types and trivia</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/track-renewal">Track renewal</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/signalling">Signalling</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment">Tube escalators & lifts</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're moderning our busiest stations, and integrating with other modes of transport";}
        
            
        


 