
    
  



@{ViewBag.Title = "Track renewal";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/tube-improvements/behind-the-scenes/track-renewal";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/tube-improvements">Improving the Tube</a></li>
                
            
                 <li><a href="/campaign/tube-improvements/behind-the-scenes">Behind the scenes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Track renewal</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Track renewal</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        To ensure safe and reliable journeys, our track needs to be maintained and renewed regularly.
        
      </div>
    
    
      
      
           
      <div>

<h2>Why we need closures to replace track</h2>
<p>We are carrying out continuous track renewals and replacements across our network to keep London's transport moving and as safe as possible. Find out why this sometimes takes longer to complete. <a href="https://www.youtube.com/playlist?list=PLtnlusA0Zoghb_KCckEROFhFDNLj2F0VS">Browse through our videos on YouTube to find out more</a>. <a href="https://twitter.com/search?f=realtime&amp;q=%23TubeImprovements&amp;src=typd">#TubeImprovements</a></p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="wwcpnwmbzjk" data-video-caption="Planned block closures"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Why we need to replace track</h2>
<p>The Tube network is 150 years old and is used by millions of people. Over time track experiences wear and tear from constant use. We work around the clock to keep our 1000km of track in tip-top shape while at the same time minimising disruption to customers.</p>
<h2>Why renewing track takes so long</h2>
<p>There are two types of track: ballasted and underground. In areas with ballasted track (where the rails are laid over a foundation of coarse granite stones), we first need to remove all the signalling and power equipment on or near the track. Then we dig out the old track bed and put in new ballast. </p>
<p>This produces thousands of tonnes of waste to take away, and requires thousands of tonnes of new ballast to be brought in. Once completed, the signalling and power equipment must be reinstalled and tested.</p>
<p>Track in the deep narrow tubes, far underground, is even more challenging to replace because of the confined work area. We use 'shrunken' bespoke machinery to allow us to work into tunnels deep underground.</p>
<h2>Why track drainage work takes time</h2>
<p>In order to stop flooding of the track and extend its lifespan, we need to lay pipes below the ground alongside and underneath the track to direct surface water away from the railway and back into the water table. By carrying out regular cleaning, the track can last around 50 years.  </p>
<p>We also use complex electronics to ensure the safe separation of trains on our network. Water can interfere with the operation of these signalling assets and can cause service affecting failures.</p>
<p>The ballast supports the sleepers (concrete or wooden planks), which in turn support the rails. Together, the sleepers and the rail form the track. Historically, wet conditions meant that track needed to be replaced every 20 years or so. By keeping on top of the maintenance needed to improve track drainage, this has been extended to 45-60 years.</p>
<p>This is good news for our customers as it means fewer major replacements are needed, and we can run a faster, more reliable service that is more cost efficient.</p>
<h2>How we innovate to improve track</h2>
<p>We use 'shrunken' bespoke machinery to allow us to work in tunnels deep underground.&nbsp;</p>
<h2>Minimising disruption</h2>
<p>We do everything we can to avoid closing the railway. We aim to carry out as much  work as possible during the four hours a night when the Tube is closed to the public. However, there are some essential jobs that are so complex or large that we have to implement them in a longer closure, called a blockade.  </p>
<p>Over Easter 2015, we had thousands of engineers working around-the-clock to complete one of the largest-scale renewals ever executed on two Tube lines (the Metropolitan and Jubilee lines). The work was delivered safely, on time, and with the least possible impact to our customers.</p>
<p>New ways of working, including the latest engineering techniques, help as we try to keep disruption to a minimum. We will always ensure there are alternative ways for you to make your journeys.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/track-work-at-embankment-station.jpg" alt="Track work at Embankment" />
                <figcaption>
<span class="figure-title">Track work at Embankment</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/breaking-the-concrete-for-cabling.jpg" alt="Breaking the concrete to create a channel for a cable" />
                <figcaption>
<span class="figure-title">Breaking the concrete to create a channel for a cable</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/flash-butt-welding-machine.jpg" alt="A flash butt welding machine is used to quickly carry out running rail welds" />
                <figcaption>
<span class="figure-title">A flash butt welding machine is used to quickly carry out running rail welds</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/welder-scraping-slag.jpg" alt="Welder scrapes off slag (excess material) from rail, ensuring a successful weld" />
                <figcaption>
<span class="figure-title">Welder scrapes off slag (excess material) from rail, ensuring a successful weld</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/site-being-mobilised-for-reconditioning.jpg" alt="Site being mobilised for reconditioning of the deep tube using an off-set gauge" />
                <figcaption>
<span class="figure-title">Site being mobilised for reconditioning of the deep tube using an off-set gauge</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/dust-suppression.jpg" alt="Breaking out timber sleepers (for new concrete sleepers) requires dust suppression" />
                <figcaption>
<span class="figure-title">Breaking out timber sleepers (for new concrete sleepers) requires dust suppression</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nosing-stone-replacements-works.jpg" alt="Nosing stone replacements works which improves the platform-train interface" />
                <figcaption>
<span class="figure-title">Nosing stone replacements works which improves the platform-train interface</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<p>See exclusive behind the scenes updates on all our Tube improvements on Twitter <a href="https://twitter.com/search?f=realtime&amp;q=%23TubeImprovements&amp;src=typd">#TubeImprovements</a> and our <a href="http://www.facebook.com/transportforlondon">TfL</a> and <a href="http://www.facebook.com/londonunderground">Tube</a> Facebook pages.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/tube-improvements" class="heading">
                    <h2 id="sub-menu-heading">Improving the Tube<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-ve-done">What we've done</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/what-we-are-doing">What we're doing</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes">Behind the scenes</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/station-types-and-trivia">Station types and trivia</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/track-renewal">Track renewal</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/signalling">Signalling</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment">Tube escalators & lifts</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        
<div class="fact-box-wrapper">
    <span class="blue-span">Track facts</span>
    <div class="fact-box-content">
        
        <p>The Tube network has over 1,000 km of track, of which 864 km is used by passenger trains (the other 266 km is in depots and sidings). Track has a lifespan of roughly 40 years, so on average we need to replace 2.5% of our track every year. This is the equivalent of nearly 22 km each year or just over 400 m every week.</p>
    
        
        
        
    </div>
</div>
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "To ensure safe and reliable journeys, our track needs to be maintained and renewed regularly";}
        
            
        


 