
    
  



@{ViewBag.Title = "A127 Ardleigh Green Bridge";}
@{ViewBag.Keywords = "Boroughs,Drivers,A,Havering,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/a127-ardleigh-green-bridge";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">A127 Ardleigh Green Bridge</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>A127 Ardleigh Green Bridge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As part of our programme to improve London's roads and public spaces, we have replaced the Ardleigh Green Bridge which carries the A127 Southend arterial road over the National Rail and TfL Rail lines. All 4 lanes of the A127 opened on 30 March 2019 - the rest of the works are due to finish by summer 2019.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/ardleigh-green-bridge_rdax_400x250.jpg" alt="New Ardleigh Green Bridge" />
        
        
        
    </div>
    <p>The bridge was at the end of its useful life and beyond simple repair. Not replacing the bridge would have meant restricting the weight of vehicles and closing lanes to carry out maintenance, causing disruption in the future.</p>

<p>The new bridge has wider carriageways, footways and verges, and taller parapets to protect cyclists and pedestrians.</p>

<h2>Benefits</h2>

<ul>
	<li>The new bridge has an expected lifespan of 120 years</li>
	<li>We have moved gas, electricity, water and telecommunication pipes and cables to a separate service bridge - this will help avoid the need for road closures when utility works are needed in the future</li>
	<li>There are wider traffic lanes, wider footways and upgraded barriers to separate vehicles, pedestrians and cyclists - this will make this section of the A127 safer for all users</li>
</ul>

<h2>Current works</h2>

<p>We are closing lanes during off-peak periods to finish works in the central reservation.</p>

<h2>Next steps</h2>

<p>We will remove our site compound and offices by June 2019.</p>
 </div>
 <div>

<h2>Traffic changes until spring 2019</h2>

<p>All four lanes of traffic opened on 30 March 2019. Some off peak lane closures will be needed to finish off works in the central reservation and remove our offices from site.</p>

<h2>Demolishing the old bridge</h2>

<p>The western side of the old bridge was demolished in spring 2018, the eastern side in spring 2017.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="hupVmwsGKEU" data-video-caption="Western side demolition May 2018"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="yi6lzXNj9hA" data-video-caption="Eastern side demolition May 2017"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Our partners</h2>

<p>We are working closely with Network Rail to minimise disruption and ensure the works proceed as safely, efficiently and quickly as possible.</p>

<p>We are delivering this project in partnership with <a href="http://www.hochtief-construction.co.uk/">Hochtief (UK) Construction</a>.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/agb-before-demolition.jpg" alt="A127 Ardleigh Green Bridge" />
                <figcaption>
<span class="figure-title">A127 Ardleigh Green Bridge</span>
<span class="figure-description">Ardleigh Green Bridge before demolition</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/agb-during-demolition.jpg" alt="A127 Ardleigh Green Bridge" />
                <figcaption>
<span class="figure-title">A127 Ardleigh Green Bridge</span>
<span class="figure-description">Demolition work in progress</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/agb-after-demolition.jpg" alt="A127 Adrleigh Green Bridge " />
                <figcaption>
<span class="figure-title">A127 Adrleigh Green Bridge </span>
<span class="figure-description">The site after demolition</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/agb-demolished-bridge-deck.jpg" alt="A127 Ardleigh Green Bridge" />
                <figcaption>
<span class="figure-title">A127 Ardleigh Green Bridge</span>
<span class="figure-description">Removal of demolished bridge deck </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/agb-cutting-bridge-beams.jpg" alt="A127 Ardleigh Green Bridge" />
                <figcaption>
<span class="figure-title">A127 Ardleigh Green Bridge</span>
<span class="figure-description">Bridge beams being cut for removal</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/agb-welder.jpg" alt="A127 Ardleigh Green Bridge" />
                <figcaption>
<span class="figure-title">A127 Ardleigh Green Bridge</span>
<span class="figure-description">A welder cuts bridge beams with a lance</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/agb-moving-east-bridge.jpg" alt="A127 Ardleigh Green Bridge" />
                <figcaption>
<span class="figure-title">A127 Ardleigh Green Bridge</span>
<span class="figure-description">New east bridge being moved over the railway line using specialist lifting vehicles</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/agb-new-east-bridge.jpg" alt="A127 Ardleigh Green Bridge" />
                <figcaption>
<span class="figure-title">A127 Ardleigh Green Bridge</span>
<span class="figure-description">New east bridge spanning the railway lines</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234 (24 hours)<br />
                
                
                
                
                
                
            </p>
            <p>(<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        <div class="content-group">
            <h4>Call us if you have questions or comments about the scheme</h4>
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/a406-gunnersbury-avenue" class="plain-button">A406 Gunnersbury Avenue</a>
<a href="/travel-information/improvements-and-projects/camden-town-capacity-upgrade" class="plain-button">Camden Town capacity upgrade</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Finishing works on the new Ardleigh Green Bridge over the A127 will be done by summer 2019";}
        
            
        


 