
    
  


<!-- rhroot -->
@{ViewBag.Title = "Northern line extension";}
@{ViewBag.Keywords = "Tube passengers,N,Wandsworth,Consultation,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/northern-line-extension";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Northern line extension</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Northern line extension</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our plans to extend the Northern line to Battersea will help regenerate the Vauxhall, Nine Elms and Battersea areas, supporting 25,000 new jobs and more than 20,000 new homes. Two new stations are being built at Nine Elms and Battersea Power Station.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Where we are working</h2>

<p>The main work sites are at:</p>

<ul>
	<li>Battersea Power Station</li>
	<li>Kennington Green</li>
	<li>Kennington Park</li>
	<li>Kennington Tube station</li>
	<li>Nine Elms adjacent to Wandsworth Road and Pascal Street</li>
</ul>

<p>In November 2017, <a href="https://tfl.gov.uk/info-for/media/press-releases/2017/november/breakthrough-for-northern-line-extension-tunnelling-machin">main tunnelling finished</a> after the creation of two tunnels between Battersea and new shafts at Kennington Green and Kennington Park.</p>

<p>Preparation works started at these sites in spring 2015. The joint venture Ferrovial Agroman Laing O'Rouke is designing and building the NLE.</p>

<p>Documents related to the project, including those in support of our Transport &amp; Works Act Order (TWAO) application, noise monitoring reports and all but the most recent community communications, are on the <a href="/corporate/publications-and-reports/northern-line-extension">Northern line extension page in Publications &amp; reports</a>.</p>

<h2>Tube map of proposed extension</h2>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/nle-map-october-2015.gif" alt="Northern line extension tube map" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Benefits of the NLE</h2>

<p>The Northern line extension (NLE) will improve transport links and public spaces in the area and is essential to support the transformation of Vauxhall, Nine Elms and Battersea, a designated regeneration area on the South Bank.</p>

<p>Up to 25,000 jobs and 20,000 new homes could be created. Journey times from Nine Elms or Battersea to the West End or the City will, in some cases, be less than 15 minutes.</p>

<p>An independent report on the economic impact of the NLE has shown it could generate substantial benefits to the area.</p>

<p>The extension is supported by the Mayor of London and Wandsworth, Lambeth and Southwark councils.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-start-of-tunnelling.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">Main tunnelling begins</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-start-of-tunnelling-belt.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">Main tunnel works begin</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-boring-machine-lifted.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">Tunnel boring machines Helen and Amy are moved in</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-boring-machine-lowering.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-boring-machine-lowering-side.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-boring-machine-in-place.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-boring-machine-end.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
<div>



<h2>Kennington</h2>


<h3>New head houses/shafts</h3>

<p>As part of the project we're building two new head houses and shafts at Kennington Green and Kennington Park. These will provide ventilation and emergency access to the Tube once the extension is open.</p>

<p>More information is on the <a href="https://consultations.tfl.gov.uk/nle/kennington-green">Kennington Green consultation page</a> and the <a href="https://consultations.tfl.gov.uk/nle/kennington-park/">Kennington Park consultation page.</a></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-green-consultation-report.pdf">
    <div class="document-download-text">
        <p>Head house and landscaping at Kennington Green - consultation report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.05 -->
 
</div>

</div>
 
<div>




<h3>Monitoring passenger movements in Kennington station</h3>
<p>We have sent Southwark Council our proposal for monitoring passenger movements at Kennington Tube station. This analysis will be used to compare forecast and actual passenger numbers, get insight into people's movements through the station and to ensure our customers' safety.</p>
<p>This protocol is required by Southwark as part of our approval to build and operate the Northern line extension. You can comment on the method we propose on <a href="http://planbuild.southwark.gov.uk:8190/online-applications/applicationDetails.do?activeTab=makeComment&amp;keyVal=_STHWR_DCAPR_9572215.">Southwark's planning application portal</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/northern-line-extension-condition-19-protocol.pdf">
    <div class="document-download-text">
        <p>Proposed protocol for monitoring passenger numbers at Kennington station</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 333KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 
</div>

</div>
 
<div>



<h2>Latest updates</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/battersea-update-february-2019.pdf">
    <div class="document-download-text">
        <p>Battersea Power Station update - February to April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 314KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-green-update-february-2019.pdf">
    <div class="document-download-text">
        <p>Kennington Green update - February to April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 298KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-park-update-february-2019.pdf">
    <div class="document-download-text">
        <p>Kennington Park update - February to April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 464KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nine-elms-update-february-2019.pdf">
    <div class="document-download-text">
        <p>Nine Elms update - February to April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 345KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/battersea-update-november-2018.pdf">
    <div class="document-download-text">
        <p>Battersea Power Station update - November 2018 to January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 399KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-green-update-november-2018.pdf">
    <div class="document-download-text">
        <p>Kennington Green update - November 2018 to January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 411KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-park-update-november-2018.pdf">
    <div class="document-download-text">
        <p>Kennington Park update - November 2018 to January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 427KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nine-elms-update-november-2018.pdf">
    <div class="document-download-text">
        <p>Nine Elms update - November 2018 to January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 392KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nle-battersea-update-august-2018.pdf">
    <div class="document-download-text">
        <p>Battersea Power Station update - August to October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 311KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-green-update-august-2018.pdf">
    <div class="document-download-text">
        <p>Kennington Green update - August to October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 442KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-park-update-august-2018.pdf">
    <div class="document-download-text">
        <p>Kennington Park update - August to October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 330KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nle-nine-elms-update-august-2018.pdf">
    <div class="document-download-text">
        <p>Nine Elms update - August to October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 403KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 
</div>

</div>
 
<div>




<p>Our quarterly newsletter is a route-wide update on the works.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nle-quarterly-newsletter-june.pdf">
    <div class="document-download-text">
        <p>Northern line extension newsletter - June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.90MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.90 -->
 
</div>
<p>You can <a href="/travel-information/improvements-and-projects/northern-line-extension/sign-up-for-updates">register for email updates about the Northern line extension works</a>.</p>
</div>
 <div>

<h2>Community Liaison Groups</h2>
<p>We are committed to engaging with the communities and stakeholders that may be affected by the NLE. We have set up five Community Liaison Groups (CLGs) which meet quarterly.</p>
<p>One group considers route wide issues:</p>
<ul>
    <li>Core CLG</li>
</ul>
<p>Four consider more local issues specific to work sites and tunnelling along the route:</p>
<ul>
    <li>Battersea CLG</li>
    <li>Kennington Green CLG</li>
    <li>Kennington Park and Newington CLG</li>
    <li>Nine Elms and Oval CLG</li>
</ul>
<p>These public meetings are chaired by councillors and held in public. Residents are welcome to attend as observers.</p>
<p>The minutes of the meetings are published after each meeting.</p>
<p><strong>Check back here for dates for the next series of meetings.</strong></p>
<p>Bookmark this page and check back here for details or email <a href="mailto:NLE&#64;tfl.gov.uk">NLE&#64;tfl.gov.uk</a> for more information.</p>
</div>
 
<div>




<h3>Latest CLG presentations</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/battersea-clg-presentation-jan-2018.pdf">
    <div class="document-download-text">
        <p>Battersea CLG presentation - January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-green-clg-presentation-jan-2018.pdf">
    <div class="document-download-text">
        <p>Kennington Green CLG presentation - January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-park-clg-presentation-jan-2018.pdf">
    <div class="document-download-text">
        <p>Kennington Park CLG presentation - January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nine-elms-clg-presentation-jan-2018.pdf">
    <div class="document-download-text">
        <p> Nine Elms & Oval CLG presentation - January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.93 -->
 
</div>

</div>
 
<div>




<h3>Latest CLG minutes</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nle-core-clg-minutes-1-11-2017.pdf">
    <div class="document-download-text">
        <p>Core CLG minutes - November 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 297KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nle-battersea-clg-minutes-12-10-2017.pdf">
    <div class="document-download-text">
        <p>Battersea CLG minutes - October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 221KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nle-kennington-green-clg-minutes-10-10-2017.pdf">
    <div class="document-download-text">
        <p>Kennington Green CLG minutes - October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 343KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nle-kennington-park-clg-minutes-19-10-2017.pdf">
    <div class="document-download-text">
        <p>Kennington Park and Newington CLG minutes - October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 316KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-park-and-newington-community-liaison-group-minutes-18-july-2017.pdf">
    <div class="document-download-text">
        <p>Kennington Park and Newington CLG minutes - July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 344KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-green-community-liaison-group-minutes-11july-2017.pdf">
    <div class="document-download-text">
        <p>Kennington Green CLG minutes - July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 282KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 
</div>

</div>
 
<div>



<h2>Ground movement contours</h2>


<p>The NLE works will cause some ground movement which may affect some properties close to the work sites and above the running tunnel routes. Properties in these areas are shown within the blue line on the drawing below.</p>
<p>All residents affected have been contacted for a defects survey.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nle-routewide-ground-movement-contours.pdf">
    <div class="document-download-text">
        <p>NLE route-wide ground movement contours</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.27 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/improvements-and-projects/northern-line-extension" class="heading">
                    <h2 id="sub-menu-heading">Northern line extension<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/northern-line-extension/consultation">Consultation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/northern-line-extension/sign-up-for-updates">Sign up for updates</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact the NLE team</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 2424 (24 hours)
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:nle&#64;tfl.gov.uk">nle&#64;tfl.gov.uk</a></p>
        </div>
        
        
    </div>
</div>
 <div class="follow-social email">
  
  <div class="social-image">
    <span class="mode-icon underground">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>NLE updates</h3>
    <p>Sign up here to receive the latest news about the Northern line extension</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/improvements-and-projects/sign-up-for-updates">Sign up for NLE updates</a>
  </div> 
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.nineelmslondon.com/" class="plain-button">Nine Elms on the South Bank</a>
<a href="http://www.wandsworth.gov.uk/info/200536/nine_elms" class="plain-button">Wandsworth Council website</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Work is in progress to extend the Northern line to Nine Elms and Battersea";}
        
            
        


 