
    
  



@{ViewBag.Title = "Power Road Bridge ";}
@{ViewBag.Keywords = "Boroughs,Drivers,P,Hounslow,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/power-road-bridge";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Power Road Bridge </span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Power Road Bridge </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have replaced the Power Road Bridge which carries the A406 North Circular Road (Gunnersbury Avenue) over the railway. The work finished in spring 2019.
        
      </div>
    
    <div class="on-this-page">
      <h2>What we did</h2>

<p>We replaced the Power Road Bridge as part of our programme to improve London's roads and public spaces.</p>

<p>The bridge, which was built in 1922, had reached the end of its operational life. Not replacing the bridge would mean permanent closures of footway and cycle tracks, lane closures and restrictions on the type or weight of vehicles that use the bridge.</p>

<h2>Benefits</h2>

<p>The new structure replacing the existing bridge has been designed to last at least 120 years.</p>

<p>The new bridge has improved footways, lighting and better facilities for cyclists on the western side, making this section of the A406 safer for all users.</p>

<h2>Final works</h2>

<p>Minor works to the underside of the bridge and railway embankments, which may not be visible from street level, are scheduled for summer 2019.</p>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/demolition-of-western-section-of-the-bridge-web.gif" alt="Power Road Bridge" />
                <figcaption>
<span class="figure-title">Power Road Bridge</span>
<span class="figure-description">Demolition of the western section of the bridge</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/demolishing-the-western-section-of-the-bridge-web.gif" alt="Power Road Bridge" />
                <figcaption>
<span class="figure-title">Power Road Bridge</span>
<span class="figure-description">Demolishing the western section of the bridge</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/lifting-a-wall-for-the-new-western-section-of-bridge-web.gif" alt="Power Road Bridge" />
                <figcaption>
<span class="figure-title">Power Road Bridge</span>
<span class="figure-description">Lifting a wall for the new western section of the bridge</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/lifting-a-new-beam-for-the-western-section-of-bridge-web.gif" alt="Power Road Bridge" />
                <figcaption>
<span class="figure-title">Power Road Bridge</span>
<span class="figure-description">Lifting a new beam for the western section of the bridge</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prb-waterproofing.jpg" alt="Power Road Bridge" />
                <figcaption>
<span class="figure-title">Power Road Bridge</span>
<span class="figure-description">Completed western deck and waterproofing</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prb-beam-lift.jpg" alt="Power Road Bridge" />
                <figcaption>
<span class="figure-title">Power Road Bridge</span>
<span class="figure-description">Placing concrete beams on the eastern deck to support the road over the bridge</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>How your travel might be affected</h2>

<p>Because of the nearby <a href="/travel-information/improvements-and-projects/a406-gunnersbury-avenue">A406 Gunnersbury Avenue safety scheme</a> there are still some temporary changes to the road.</p>

<p>Until 27 May 2019 the A406 Gunnersbury Avenue will be reduced to one lane in each direction. Expect delays if driving, especially during morning and evening peak hours.</p>

<p>A temporary 30mph speed restriction is in place between the Chiswick Roundabout and Park Place Drive.</p>

<p>Check <a href="/roads/status/">live traffic news</a> before you leave to stay up-to-date and avoid disruption to your journey.</p>

<h2>Our partners</h2>

<p>The project was done in partnership with <a href="http://www.hochtief.co.uk/">Hochtief (UK) Construction</a>, <a href="http://www.ramboll.co.uk/">Ramboll</a> and <a href="https://www.wsp.com/en-GL">Parsons Brinckerhoff</a>, and <a href="https://www.skanska.co.uk/">Skanska UK</a>.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="5_YeqXOAKxY" data-video-caption="Demolition of western section"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="UyYLRGQAArg" data-video-caption="Service bridge installation"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="1WVahaqcYak" data-video-caption="Installation of beams and parapet "></li>
  
  </ul>
</div>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234 (24 hours)<br />
                
                
                
                
                
                
            </p>
            <p>(<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        <div class="content-group">
            <h4>Call us if you have questions or comments about the scheme</h4>
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/a406-gunnersbury-avenue" class="plain-button">A406 Gunnersbury Avenue</a>
<a href="/travel-information/improvements-and-projects/camden-town-capacity-upgrade" class="plain-button">Camden Town capacity upgrade</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Power Road Bridge is being upgraded to make it safer for road users and improve access for cyclists and pedestrians";}
        
            
        


 